@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Hind+Madurai:wght@400;600;700&display=swap');
* {
    font-family: 'Bona Nova', serif;
    
  }


/*SCROLL BAR*/

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 191);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 191);
}

.navbar-custom {
    background-color:  #3c0804;
}

/*MAIN CONTAINER*/
#body-txt-id {
    display: grid;
    grid-template-columns:0.01fr 1fr;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    background-color: #f5f5f5;
    
}

#sidebar-txt-id{     /*dobbiamo cambiare i nomi di classi e id per capirli più facilmente*/
    display: none;
  /*questa è la vera sidebar*/
}

.button-txt-id{                /*questa è la div con i pulsanti*/
    grid-area: button;
}
main{                   /*Questa è il testo*/
    grid-area: main;
}

/*NAVBAR*/
nav {
    grid-area: nav;
}
nav li {
    float: left;
    border: 3px solid transparent;
    border-right-color:#f0c86d;
  }


nav li  a {
    color:#f0c86d !important;
  }
.circle{
    display: none;
}

.stroke-double{
    color: #f0c86d;
    text-transform: uppercase;
    text-decoration: none;
    transform: rotate(270deg);
    font-size: 9px;
    float: left;
    padding-bottom: 9px;
    border: 3px solid transparent;
    border-bottom-color:#f0c86d;

}
nav .nav-link {
    display: block;
    color: #f0c86d;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    transform: rotate(270deg);
    display: inline-block;
    font-size: 9px;
  }

/*firstpage*/


.uno {
    position: relative;
    height: 116vh;
    z-index: -1;
    background: linear-gradient(to top, rgb(255, 0, 191), #85c442) no-repeat top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: relative;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
}

.separator {
    background-color: violet;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid lightblue;
    margin-top: 0vw;
}

.t {
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid lightblue;
    margin-top: 0vw;
    bottom: 0;
}

.left {
    background-color: lightblue;
    width: 0;
    height: 0;
    border-left: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid violet;
    margin-top: 0vw;
}

.section {
    margin-inline: auto;
    padding-block: 5rem;

}

#content {
    display: flex;
    width: fit-content;
}

.card {
    width: 15%;
    height: 15%;
    margin-inline: 5%;
    margin: 0 auto;
}

.due {
    background: lightblue;
    height: 70vh;

}

.diagonal {
    height: 60vh;
    background: violet;


}


.card img {
    border: none;
}

.card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}



#coverpage {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 1.5fr;
    grid-template-areas:
        "nav nav"
        "sidebar main";
    font-family: coolvetica;
}




/*SIDEBAR NEI TESTI*/

.metarticle-visible-txt{
    display: block;
    grid-area: sidebar;
}
.metarticle-inv-txt{
    display: none;
}

.sidecont-txt{
    transition: 0.5s;
}
@keyframes fadeIn {                 /*Animazione random da modificare*/
    0% {
      opacity: 0;
      display: none;
    }
    1% {
      display: block;
    }
    100% {
      opacity: 1;
    }
  }
  
  .sidecont-txt {
    animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
  }
/*
.sidebar {
    grid-area: sidebar;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    display: grid;
}
*/
.accordion {
    padding: 8px;
    text-decoration: none;
    border: 3px solid black;

    width: fit-content;
    height: fit-content;
}

.accordion:hover {
    color: #f1f1f1;
}



#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.openbtn {
    font-size: 20px;
    background-color:#3c0804;
    color: #f1f1f1;
}

.openbtn:hover {
    background-color: pink;
}




@media screen and (max-height: 450px) {
    .sidecont-txt {
        padding-top: 5px;
    }

    .sidecont-txt a {
        font-size: 1em;
    }
}




main a:link,
main a:visited {
    color: blueviolet;
    background-color: transparent;
}

main a:hover,
main a:active {
    color: rgb(106, 106, 232);
}

main>h2,
h1 {
    text-align: center;
}

#p {
    text-align: center;
}

.flex-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    background-color: rgb(184, 197, 252);
    width: 40%;
    padding: 1%;
}

.description {
    background-color: pink;
    width: 50%;
    transform: rotate(-5deg);
    padding: 1%;
}

#maincover {
    overflow: auto;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: lightblue;
    position: relative;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://newswirengr.com/wp-content/uploads/2023/02/ADC_ADV17022S_10.jpg');
}


#bside {
    padding-top: 5%;
}

#bside>button {
    width: fit-content;
    margin-bottom: 2vh;
}

#introduction-txt-id {
    width: calc(100% - 13%);
    padding: 3% 3% 3% 3%;
    float: right;
}

.maiuscoletto {
    font-variant: small-caps;
}

.text {
    padding: 3% 3% 3% 3%;
    column-count: 3;
    column-gap: 3%;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    width: calc(100% - 13%);
    float: right;
}

.text>h2 {
    text-align: left;
}

.text p::first-letter {
    color: rgb(255, 0, 191);
    float: left;
    font-weight: bold;
    font-size: 4.2rem;
    margin: .05em .1em 0 0;
    line-height: 0.65;
}

.frontier {
    padding: .5em;
    border: 0.25em solid rgb(255, 0, 191);
    position: relative;
    margin-bottom: 2%;
}

.frontier::before,
.frontier::after {
    content: '';
    display: block;
    position: absolute;
    background: #f4f4fdff;
}

.frontier::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
}

.frontier::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
}

.frontier>h2,
p {
    position: relative;
    z-index: 1;
}

.ghost {
    background-color: pink;
}

.immagine {
    margin-bottom: 3%;
}

.immagine>img {
    width: 15vw;
    height: auto;
    border-style: solid;
    border-color: blueviolet;
    border-width: 10px;
}

.immagine figcaption {
    font-size: 0.8em;
    font-style: italic;
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid blueviolet !important;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

.forma0 {
    clip-path: polygon(50% 0%, 69% 20%, 50% 28%, 33% 38%, 18% 29%, 0 44%, 0 0);
    background-color: orange;
    width: 70%;
    height: 70%;
    position: absolute;
    display: block;
    float: right;
}

.forma2 {
    clip-path: polygon(100% 100%, 0% 100%, 0 0);
    background-color: blue;
    width: 50%;
    height: 50%;
    position: absolute;

}

.forma1 {
    position: absolute;
    clip-path: polygon(59% 36%, 57% 14%, 100% 18%, 100% 70%, 77% 89%, 39% 91%, 42% 65%, 39% 43%);
    background-color: yellow;
    width: 60%;
    margin-left: 40%;
    height: 100%;
    margin-top: -10%;
}

.testo_metadata {
    position: relative;
    width: max-content;
    height: max-content;
}

#firstarticle {
    padding-left: 55%;
    padding-top: 10%;
}

#secondarticle {
    padding-left: 10%;
    padding-top: 17%;
}

.new {
    clip-path: polygon(23.23% 27.92%, 27.75% 10.88%, 41.56% 23.99%, 55.36% 10.88%, 65.27% 23.99%, 83.89% 15.59%, 83.89% 30.49%, 97.18% 42.81%, 79.7% 44.54%, 75.61% 59.21%, 62.22% 46.27%, 48.83% 59.21%, 38.25% 46.27%, 17.57% 57.77%, 17.38% 39.05%, 0% 32.09%);
    border: 2px solid red;
    width: 8vw;
    height: 20vh;
    color: white;
    text-align: center;
    padding-top: 7%;
    background-color: red;
}

#thirdarticle {
    padding-left: 20%;
    padding-top: 20%;
}

footer {
    grid-area: footer;
    background-color: violet;

    padding-top: 40px;
}


/*sidebartag*/

.n1700,
.nforrest {
    background-color: red;
}

.n1800,
.nb {
    background-color: yellow;
}

.n1900 {
    background-color: rgb(255, 0, 191);
}


@media only screen and (max-width: 550px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
    }

    .main_container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.1fr;
        grid-template-areas:
            "nav"
            "button"
            "main"
            "footer";
    }

    .text {
        column-count: 1;
    }
}