
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=IM+Fell+English&display=swap');

html{
cursor: url('icons8-pen-32.png'), auto;
} 


h1, p {
margin: 0;
padding: 0;
font-family: 'Cardo', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'IM Fell English', serif;
}

a{
    color: antiquewhite;
}


#body-txt-id {
display: grid;
grid-template-columns:0.01fr 1fr;
grid-template-areas:
    "nav nav"
    "button main"
    "footer footer";
margin: 0;
padding: 0;
overflow-x: hidden;
overflow-y: hidden;
}


body {
background-color: rgb(255, 250, 245);
font-size: 18px; 
line-height: 1.4; 
display: flex;
}


.page {
top: 80px;
margin: 20px; 
padding: 20px; 
z-index: -1;
background-color:rgb(255, 250, 245); 
/**box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);**/
position: absolute;
overflow-y: scroll;
}


/* .chapter-title {
font-size: 36px; 
margin-bottom: 10px; 
} */

/* .hidden{
    display: none;
} */


.content {
    position: absolute;
    z-index: -1;
    text-align: justify;
    font-size: 16px;
    left: 15%;
    right: 15%;
    color: #333;
    padding: 20px;
    background: rgb(255, 250, 245);
    max-width: 70%; 
    margin: 0 auto; 
    max-height: 90%;
    font-family: 'Cardo', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'IM Fell English', serif;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
    display: none;
}
#right-image{
    right: 0%;
    position: absolute;
    right: 20px;
    z-index: -1;
    border: 20px solid  rgb(255, 250, 245);
}
a {
color: black;
}
#side-image{
    position: absolute;
    z-index: -1;
    left: 20px;
    border: 20px solid  rgb(255, 250, 245);
}

/*NAVBAR*/
nav {
grid-area: nav;
background-color: #333;
font-family: 'Cardo', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'IM Fell English', serif;
}
nav li {
float: left;
border: 3px solid transparent;
border-right-color:#f0c86d;
}


nav li  a {
color:#f0c86d !important;
}
.circle{
display: none;
}

.stroke-double{
color: #f0c86d;
text-transform: uppercase;
text-decoration: none;
transform: rotate(270deg);
font-size: 9px;
float: left;
padding-bottom: 9px;
border: 3px solid transparent;
border-bottom-color:#f0c86d;

}
nav .nav-link {
display: block;
color: #f0c86d;
text-transform: uppercase;
text-decoration: none;
margin: 1rem;
transform: rotate(270deg);
display: inline-block;
font-size: 9px;
}

.metarticle-visible-txt{
display: block;
grid-area: sidebar;
}
.metarticle-inv-txt{
display: none;
}
.button-txt-id{                /*questa è la div con i pulsanti*/
grid-area: button;
}
.sidecont-txt{
background-color: rgba(255, 255, 255, 1);
transition: 0.5s;
}
@keyframes fadeIn {                 /*Animazione random da modificare*/
0% {
  opacity: 0;
  display: none;
}
1% {
  display: block;
}
100% {
  opacity: 1;
}
}

.sidecont-txt {
animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
}
/*
.sidebar {
grid-area: sidebar;
width: 0;
position: fixed;
overflow: hidden;
transition: 0.5s;
display: grid;
}
*/
.accordion {
padding: 8px;
text-decoration: none;
border: 3px solid black;
width: fit-content;
height: fit-content;
}

.accordion:hover {
color: #f1f1f1;
}


#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
height: 200px;
width: 200px;
margin: 0 auto;
}

.openbtn {
font-size: 20px;
background-color:#333;
color: #f1f1f1;
}

.openbtn:hover {
background-color: pink;
}




@media screen and (max-height: 450px) {
.sidecont-txt {
    padding-top: 5px;
}

.sidecont-txt a {
    font-size: 1em;
}
}

