@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: coolvetica;
    src: url("coolvetica rg.otf");
}

@font-face {
    font-family: telelower;
    src: url("telelower.ttf");
}

html {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym752.cur), auto !important;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e93f82;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e93f82;
}


/*NAVBAR*/

.navbar-custom {
    z-index: 1;
    background-color: #74b74f;
    font-family: coolvetica;
    font-size: 1em;
}

.title {
    border: 2px solid black;
    box-shadow: 5px 5px;
    background-color: #f6ec59;
    border-style: static;
    border-radius: 20px;
    width: 15vw;
    height: 11vh;
    z-index: 1;
    display: flex;
    padding-left: 1%;
    overflow: hidden;
}

.stroke-double {
    position: relative;
    background: transparent;
    z-index: 0;
    color: #e93f82;
    font-size: 3vw;
    font-family: 'Lobster', cursive;
}

.stroke-double:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em #f4f4fdff;
    left: 0;
    z-index: -1;
}

.stroke-double:after {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.25em black;
    left: 0;
    z-index: -2;
}

#navbarSupportedContent {
    margin-left: 10%;
}


#titlecover {
    margin-left: 10px;
    margin-top: 10px;
}

/*firstpage*/

.uno {
    position: relative;
    min-height: 116vh;
    z-index: -1;
    background-image: url("https://i.etsystatic.com/31247061/r/il/7e6b58/3669040700/il_1588xN.3669040700_hhwg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #e93f82, #74b74f);
    opacity: 0.7;
}

.wrapper1 {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    align-items: center;
    color: #f4f4fdff;
    transform: translate(0vw, 40vh);
}

.wrapper1>h1,
main h1 {
    font-family: telelower;
    text-transform: uppercase;
    font-size: 3rem;
}

.wrapper>h2 {
    font-family: telelower;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.stroke-d {
    position: relative;
    background: transparent;
    z-index: 0;
    color: #e93f82;
    font-size: 3vw;
}

.stroke-d:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em #f4f4fdff;
    z-index: -1;
}

.separator.t {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    z-index: 0;
}

.separator.t::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);

}

.separator.t::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e93f82;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.separator.left {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
}

.separator.left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e93f82;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    transform: rotateY(180deg);
}

.separator.left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(159 203 218);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transform: rotateY(180deg);
}

.separator.right {
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 0;
}

.separator.right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(159 203 218);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator.right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e93f82;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.section {
    margin-inline: auto;
    padding-block: 5rem;

}

.due,
.diagonal {
    margin-top: 19vh;
    height: 90vh;
}

section.uno+section {
    margin-top: 0%;
}

.diagonal {
    background: rgb(159 203 218);
}

.due {
    background: #e93f82;
}

.wrapper {
    top: 10%;
    text-align: justify;
    box-sizing: border-box;
    height: fit-content;
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
}

#content-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.card {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    width: 30vw;
    background-color: transparent !important;
    border-color: transparent !important;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 20%;
    height: 55%;
    margin-left: 24%;
    margin-top: -8%;
    background-color: rgb(246, 236, 90);
    position: absolute;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;

    background-image: -webkit-linear-gradient(top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -moz-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -o-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);

    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;

    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
}

.card:hover {
    transform: scale(1.05);
}


.card:hover .star {
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.element {
    color: #f4f4fdff;
    margin-left: 10vw;
    width: 20vw;
    height: 25vh;
    padding: 5%;
    background-color: #845ba6bc;
    border-radius: 5%;
    box-shadow: 5px 5px #845ba665;
}

.element p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 0.93em;
    word-wrap: break-word;
    letter-spacing: 0.09em;
}

.element a:link,
.element a:visited {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.element a:hover,
.element a:active {
    color: inherit;
}

.logo-image {
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-image[id="kkk-logo"] {
    shape-outside: polygon(0 0, 0% 100%, 100% 100%);
    position: relative;
    float: left;
}

.logo-image[id="masonry-logo"] {
    float: right;
    shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
    position: relative;
}

.logo-image[id="skull-logo"] {
    shape-outside: polygon(0 0, 0% 100%, 100% 100%);
    position: relative;
    float: left;
}

/*articles pages*/

#body-txt-id {
    width: 100%;
    height: 115vh;
    display: grid;
    grid-template-columns: 0.09fr 1fr;
    grid-template-rows: 0.01fr 1.5fr 0.01fr;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    font-family: coolvetica;
    font-size: 1.5vw;
    background-color: #f4f4fdff;
}

#body-main-id {
    font-family: coolvetica;
    font-size: 1.5vw;
}

nav {
    grid-area: nav;
}

.navbar-nav .dropdown-menu {
    background: #74b74f;
}

a.dropdown-item:hover {
    background-color: #66a544;
}

/*sidebar*/

button.style-button {
    color: #f4f4fdff;
    border: transparent;
    background: transparent;
}

#button-txt-id {
    grid-area: button;
    padding-top: 5%;
}

#button-txt-id>button {
    width: 10vw;
    margin-bottom: 2vh;
    font-size: 1.1em;

}

.metarticle-visible-txt {
    display: block;
    grid-area: sidebar;
}

.metarticle-inv-txt {
    display: none;
}

#sidebar-txt-id {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    z-index: 1;
    top: 0;
    word-wrap: break-word;
}

#sidebar-txt-id::-webkit-scrollbar {
    width: 0em;
}

#sidebar-txt-id::-webkit-scrollbar-thumb {
    background-color: transparent;
}

button.accordion {
    margin-top: 5%;
    padding: 1vw;
    text-decoration: none;
    border: 3px solid;
    position: relative;
    width: 50%;
    height: fit-content;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
    color: #f4f4fdff;
    display: block;
    word-wrap: break-word;
}

button.accordion:hover {
    color: #f1f1f1;
}

.accordion[id="data"] {
    transform: rotate(5deg);
    background-color: #e93f82;
    border-color: rgb(4, 4, 4);

}

.accordion[id="dates"] {
    background-color: #f6ec59;
    transform: rotate(-5deg);
    border-color: #f4f4fdff;
}

.accordion[id="places"] {
    transform: rotate(5deg);
    background-color: #e93f82;
    border-color: rgb(4, 4, 4);

}

.accordion[id="people"] {
    background-color: #74b74f;
    transform: rotate(-5deg);
}

.accordion[id="events"] {
    background-color: transparent;
    color: black;
    border-color: #e93f82;
    transform: rotate(5deg);
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: auto;
    font-size: 0.8em;
}

.panel>#map {
    height: 30vh;
    width: 18vw;
}

#article-txt-id a:link,
#article-txt-id a:visited {
    color: black;
}

#article-txt-id ul {
    list-style-type: none;
}

#article-txt-id ul li {
    list-style: none;
}

#article-txt-id ul li::before {
    content: '';
    display: inline-block;
    width: 2vw;
    height: 3.5vh;
    background-color: rgb(245, 158, 194);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #e93f82;
    color: #f4f4fdff;
    padding: 10px 15px;
    border: none;
    width: fit-content;
    word-wrap: break-word;

}

/*content articles*/

main {
    grid-area: main;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 0em;
}

main::-webkit-scrollbar-thumb {
    background-color: transparent;
}


main a:link,
main a:visited {
    color: #845ba6;
    background-color: transparent;
}

main a:hover,
main a:active {
    color: rgb(101 177 202);
    ;
}

main>h2,
h1 {
    text-align: center;
}

.flex-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    background-color: rgb(159 203 218);
    width: 40%;
    padding: 1%;
}

.description {
    background-color: rgb(245, 158, 194);
    width: 50%;
    transform: rotate(-5deg);
    padding: 1%;
}

main h1 {
    color: #e93f82;

}

main h3 {
    font-family: telelower;
}

main h2 {
    color: rgb(51, 144, 175);
    text-align: center;
    text-transform: uppercase;
    font-family: telelower;

}

#introduction-txt-id {
    padding: 3% 3% 3% 3%;
}

.maiuscoletto {
    font-variant: small-caps;
}

.info,
.description,
.text {
    font-family: Helvetica;
}

.text {
    padding: 3% 3% 3% 3%;
    column-count: 3;
    column-gap: 3%;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}

.text>h2 {
    margin-top:7%;
    margin-bottom:5%;
    text-align: center;
    break-before: auto;
    page-break-before: auto;
}

.text p::first-letter {
    color: #e93f82;
    float: left;
    font-weight: bold;
    font-size: 4.2rem;
    margin: 0.16em .1em 0 0;
    line-height: 0.65;
}


.frontier {
    padding: .5em;
    border: 0.25em solid #e93f82;
    position: relative;
    margin-bottom: 2%;
}

.frontier::before,
.frontier::after {
    content: '';
    display: block;
    position: absolute;
    background: #f4f4fdff;
    z-index: -1;
}

.frontier::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
}

.frontier::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
}

.frontier>h2,
p {
    position: relative;
    z-index: 1;
}

figure {
    margin-bottom: 3%;
    align-items: center;
    text-align: center;
}

figure>img {
    width: 15vw;
    border-style: solid;
    border-color: #845ba6;
    border-width: 10px;

}

figure figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid rgb(131, 89, 166) !important;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

/*footer*/
footer {
    grid-area: footer;
    position: relative;
    background-color: rgb(114, 183, 78)
}

#main-footer {
    margin-top: 20vh;
    height: 110vh;
    background-color: #e93f82;
}


#main-footer>.wrapper {
    margin: 0 auto;
    width: 80%;
    height: fit-content;
    border-radius: 7%;
    background-color: #74b74f;
    padding: 1%;
}

.layoutfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.layoutfooter>button {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 15%;
}

.card-name {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.name-card {
    background-color: #f4f4fdff;
    margin-right: 10px;
    width: 20vw;
    border-radius: 5%;
    border: 2px solid #e93f82;
    box-shadow: 5px 5px #e93f82;
    word-wrap: break-word;
    padding: 1.5%;
    height: fit-content;
}

.name-card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.name-card img {
    width: 50%;
    border-radius: 50%;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(159 203 218) !important;
    border-color: rgb(159 203 218) !important;
    width: fit-content !important;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.btn-primary:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5%;
    background: rgba(159, 203, 218, 0.612);
    transition: all .35s;
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary:hover:after {
    width: 100%;
}

/*sidebartag*/

.n {
    background-color: rgb(7, 7, 241);
}

.nb {
    background-color: rgb(196, 14, 14)
}

.ne {
    background-color: rgb(2, 138, 25);
}

.nmap {
    background-color: rgb(118, 8, 128);
}

@media only screen and (max-width: 900px) {
    #button-txt-id {
        display: flex;
        justify-content: center;
    }

    #sidebar-txt-id {
        margin: 0 auto;
        width: 80%;
        font-size: 1.5em;
    }

    #button-txt-id>button {
        margin-right: 3vh;
        width: fit-content;
    }

    button.accordion {
        width: 25vw !important;
        margin-bottom: 10%;
        margin: 2% auto 5%;
    }

    .panel {
        margin: 0 25%;
    }

    #map {
        width: 100%;
    }

    .checkbox {
        display: inline-block;
        margin-right: 1vw;
    }

    #article-txt-id ul li::before {
        width: 2.5vw;
        height: 3.5vh;

    }
}

@media only screen and (max-width: 550px) {
    .uno {
        height: 110vh;
    }

    #button-txt-id>button {
        font-size: 2em;
    }

    .title {
        width: 30vw;
        padding-left: 2%
    }

    .stroke-double {
        font-size: 1.2em;
        margin-top: 10%;
    }

    a.nav-link {
        font-size: 3em;
    }

    .text {
        column-count: 1;
    }

    p {
        font-size: 2em;
    }

    .wrapper1>h1 {
        font-size: 2rem;
    }

    .logo-image {
        height: 39vh;
    }

    .element {
        margin-left: 5%;
        width: 25vw;
        height: 15vh;
    }

    .star {
        width: 35%;
        margin-left: -10%;
        margin-top: -17%;
    }

    #main-footer {
        height: 110vh;
    }


    #main-footer>.wrapper {
        background-color: transparent;
    }

    .card-name {
        height: 65vh;
        padding: 3%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #74b74f;
        border-radius: 5%;
    }

    .name-card {
        margin: 0 auto;
        height: 30%;
        width: 80%;
    }

    .fa {
        font-size: 2em !important;
    }

    .name-card>img {
        width: 20%;
    }

    .modal-body {
        font-size: 2em !important;
    }

    figure>img {
        width: 50vw;
    }

    figure figcaption {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 551px) and (max-width:660px) {
    .navbarSupportedContent {
        font-size: 1em;
    }

    .title {
        width: 23vw;
    }

    .stroke-double {
        font-size: 4.5vw;
        margin: 5%;
    }

    .text {
        column-count: 1;
    }

    p,
    li {
        font-size: 2.2em;
    }

    figure>img {
        width: 50vw;
    }

    figure figcaption {
        font-size: 1.5em;
    }

    .element {
        width: 23vw;
        margin: 0 auto;
        height: 20vh;
    }

    .star {
        margin-left: -3%;
        margin-top: -15%;
        width: 25%;
        height: 50%;
    }

    .element span {
        font-size: 0.8em !important;
    }

    .wrapper1>h1 {
        font-size: 2rem;
    }

    .wrapper p {
        font-size: 2em;
    }

    #main-footer {
        height: 80vh;
    }

    .name-card {
        height: 35vh;
    }
}

@media only screen and (min-width: 661px) and (max-width:900px) {

    #navbarSupportedContent {
        font-size: 1.5em;
    }

    .title {
        width: 23vw;
    }

    .stroke-double {
        font-size: 4.5vw;
        margin: 0% 5% 5%;
    }

    .wrapper1>h1 {
        font-size: 2rem;
    }

    .wrapper p,
    .wrapper1 p {
        font-size: 1.3em;
    }

    .star {
        margin-left: 17%;
        margin-top: -11%;
        width: 25%;
        height: 40%;

    }

    #main-footer {
        height: 90vh;
    }

    .footnotes {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 500px) and (max-width:550px) {
    .title {
        width: 23vw;
    }
}

@media only screen and (max-width: 444px) {
    .wrapper1>h1 {
        font-size: 2rem;
    }

    .stroke-d:before {
        left: -0.3%;
    }
}