@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: coolvetica;
    src: url("coolvetica rg.otf");
}

@font-face {
    font-family: telelower;
    src: url("telelower.ttf");
}

html {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym752.cur), auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 191);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 191);
}

.navbar-custom {
    background-color: #85c442;
    font-family: coolvetica;
}

/*NAVBAR*/


.title {
    border: 2px solid black;
    box-shadow: 5px 5px;
    background-color: rgb(245, 226, 15);
    border-style: static;
    border-radius: 20px;
    width: 15vw;
    height: 11vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* prepare the selectors to add a stroke to */

.stroke-double {
    position: relative;
    background: transparent;
    z-index: 0;
    color: rgb(255, 0, 191);
    font-size: 3vw;
    font-family: 'Lobster', cursive;
}

/* add a single stroke */
.stroke-double:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em white;
    left: 0;
    z-index: -1;
}

/* add a double stroke */
.stroke-double:after {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.25em black;
    left: 0;
    z-index: -2;
}

#navbarSupportedContent {
    margin-left: 10%;
}


#titlecover {
    margin-left: 10px;
    margin-top: 10px;
}

/*firstpage*/

.uno {
    position: relative;
    height: 116vh;
    z-index: -1;
    background-image: url("https://i.etsystatic.com/31247061/r/il/7e6b58/3669040700/il_1588xN.3669040700_hhwg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.uno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 0, 191), #85c442);
    opacity: 0.7;
}

.wrapper1 {
    box-sizing: border-box;
    left: 50%;
    position: relative;
    text-align: center;
    align-items: center;
    top: 45%;
    color: white;
    transform: translate(-50%, -50%);
}

.wrapper1>h1 {
    font-family: telelower;
    text-transform: uppercase;
    font-size: 3rem;
}

.wrapper>h2 {
    font-family: telelower;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.stroke-d {
    position: relative;
    background: transparent;
    z-index: 0;
    color: rgb(255, 0, 191);
    font-size: 3vw;
}

/* add a single stroke */
.stroke-d:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em white;
    z-index: -1;
}

.separator.t {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    z-index: 0;
}

.separator.t::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);

}

.separator.t::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightblue;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.separator.left {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
}

.separator.left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightblue;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    transform: rotateY(180deg);
}

.separator.left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 191);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transform: rotateY(180deg);
}

.separator.right {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
}

.separator.right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 191);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator.right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightblue;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.section {
    margin-inline: auto;
    padding-block: 5rem;

}

#content-card {
    display: flex;
    width: fit-content;
}

.element {
    margin-right: 10px;
    text-align: left;
    width: 15vw;
    height: 20vh;
    color: #000;
    background-color: transparent;
    border: 3px solid #85c442;
    padding: 8px 8px 8px 8px;
}


.element:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.due,
.diagonal {
    height: 95vh;
}

.due {
    background: lightblue;
}

.diagonal {
    background: rgb(255, 0, 191);
}

.wrapper {
    text-align: justify;
    box-sizing: border-box;
    height: fit-content;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    top: 60%;
    padding-left: 3%;
    padding-right: 3%;
}

.logo-image {
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#kkk-logo {
    shape-outside: polygon(0 0, 0% 100%, 100% 100%);
    position: relative;
    float: left;
}

#masonry-logo {
    float: right;
    shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
    position: relative;
}

#skull-logo {
    shape-outside: polygon(0 0, 0% 100%, 100% 100%);
    position: relative;
    float: left;
}

#body-txt-id {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: auto 1.5fr auto;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    font-family: coolvetica;
    font-size: 1.5vw;
    background-color: #f4f4fdff;
}

#body-main-id {
    font-family: coolvetica;
    font-size: 1.5vw;
}

nav {
    grid-area: nav;
}

#button-txt-id {
    /*questa è la div con i pulsanti*/
    grid-area: button;
    padding-top: 5%;
}

#button-txt-id>button {
    width: fit-content;
    margin-bottom: 2vh;
}

.metarticle-visible-txt {
    display: block;
    grid-area: sidebar;
}

.metarticle-inv-txt {
    display: none;
}

#sidebar-txt-id {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    z-index: 1;
    top: 0;
    word-wrap: break-word;
}

#sidebar-txt-id::-webkit-scrollbar {
    width: 0em;
}

#sidebar-txt-id::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.accordion {
    margin-top: 5%;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    border: 3px solid black;
    position: relative;
    width: 50%;
    height: fit-content;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
    color: white;
    display: block;
    word-wrap: break-word;
}

.accordion:hover {
    color: #f1f1f1;
}

#data {
    transform: rotate(5deg);
    background-color: rgb(255, 0, 191);
    border: 3px solid black;

}

#dates {
    background-color: rgb(245, 226, 15);
    transform: rotate(-5deg);
    border-color: white;
}

#places {
    transform: rotate(5deg);
    background-color: rgb(255, 0, 191);
    border: 3px solid black;

}

#people {
    background-color: #85c442;
    transform: rotate(-5deg);
}

#events {
    background-color: transparent;
    color: black;
    border-color: rgb(255, 0, 191);
    transform: rotate(5deg);
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: auto;
    font-size: 0.8em;
}

#map {
    height: 30vh;
    width: 20vw;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 0, 191);
    color: white;
    padding: 10px 15px;
    border: none;
    width: fit-content;
    word-wrap: break-word;

}

main {
    grid-area: main;
    height: 100vh;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#main-txt-id {
    overflow: auto;
}

main a:link,
main a:visited {
    color: blueviolet;
    background-color: transparent;
}

main a:hover,
main a:active {
    color: rgb(106, 106, 232);
}

main>h2,
h1 {
    text-align: center;
}

#p {
    text-align: center;
}

.flex-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    background-color: rgb(184, 197, 252);
    width: 40%;
    padding: 1%;
}

.description {
    background-color: pink;
    width: 50%;
    transform: rotate(-5deg);
    padding: 1%;
}

main h1 {
    color: rgb(255, 0, 191);

}

main h2 {
    color: rgb(106, 106, 232);
    text-align: center;
    text-transform: uppercase;
}

#introduction-txt-id {
    padding: 3% 3% 3% 3%;
}

.maiuscoletto {
    font-variant: small-caps;
}

.text {
    padding: 3% 3% 3% 3%;
    column-count: 3;
    column-gap: 3%;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}

.text>h2 {
    text-align: center;
}

.text p::first-letter {
    color: rgb(255, 0, 191);
    float: left;
    font-weight: bold;
    font-size: 4.2rem;
    margin: .05em .1em 0 0;
    line-height: 0.65;
}

.frontier {
    padding: .5em;
    border: 0.25em solid rgb(255, 0, 191);
    position: relative;
    margin-bottom: 2%;
}

.frontier::before,
.frontier::after {
    content: '';
    display: block;
    position: absolute;
    background: #f4f4fdff;
}

.frontier::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
}

.frontier::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
}

.frontier>h2,
p {
    position: relative;
    z-index: 1;
}

.ghost {
    background-color: pink;
}

figure {
    margin-bottom: 3%;
    align-items: center;
    text-align: center;
}

figure>img {
    width: 15vw;
    border-style: solid;
    border-color: blueviolet;
    border-width: 10px;


}

figure figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid blueviolet !important;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

.testo_metadata {
    position: relative;
    width: max-content;
    height: max-content;
}

footer {
    grid-area: footer;
    background-color: lightblue;
    height: 80vh;
}

footer>.wrapper {
    top: 80%;
}


/*sidebartag*/

.n1700,
.nforrest {
    background-color: red;
}

.n1800,
.nb {
    background-color: yellow;
}

.n1900 {
    background-color: rgb(255, 0, 191);
}


@media only screen and (max-width: 550px) {
    #body-txt-id {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.1fr;
        grid-template-areas:
            "nav"
            "button"
            "sidebar"
            "main"
            "footer";
    }

    .text {
        column-count: 1;
    }
    .wrapper1>h1 {
        font-size: 2rem;
    }
    .due,
    .diagonal {
        height: 70vh;
    }
}