
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=IM+Fell+English&display=swap');
html{
    cursor: url('icons8-pen-32.png'), auto;
    background: rgb(220,220,220);
    } 

    h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'IM Fell English', serif;
    }
    
    a{
        color: antiquewhite;
    }
    
    
    #body-txt-id {
        display: grid;
        grid-template-columns: 0.01fr 1fr;
        grid-template-areas:
          "nav nav"
          "button main"
          "footer footer";
        margin: 0;
        padding: 0;
        overflow-x:hidden;
        overflow-y:hidden;
        background-color: rgba(0, 0, 0, 0); 
    }

    body {
    background: rgb(220,220,220);
    font-size: 18px; 
    line-height: 1.4; 
    }
    
    #body-main-id{
      background: rgb(220,220,220);
      overflow-x:hidden;
      
    }

    #main-txt-id{
    top: 80px;
    margin: 20px; 
    padding: 20px;
    background: rgb(220,220,220); 
    position: absolute;
    overflow-y: scroll;
    z-index: -1;
    text-align: justify;
    font-size: 16px;
    left: 15%;
    right: 15%;
    color: #333;
    padding: 20px;
    max-width: 70%; 
    margin: 0 auto; 
    max-height: 90%;
    font-family: 'Cardo', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'IM Fell English', serif;
    justify-content: center;
    align-items: center;
    }
    #main-txt-id::-webkit-scrollbar {
        display: none;
    }
  
    #right-image{
        right: 0%;
        position: absolute;
        right: 20px;
        z-index: -1;
        border: 20px solid  rgb(220, 220, 220);
    }

    #side-image{
        position: absolute;
        z-index: -1;
        left: 20px;
        border: 20px solid  rgb(220, 220, 220);
    }
    
    /*NAVBAR*/
    nav {
    grid-area: nav;
    z-index: 2;
    width: 100%;
    background-color: #333;
    font-family: 'Cardo', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'IM Fell English', serif;
    }

    .decoration-sx, .decoration-dx{
      display:none;
    }
    
    nav li {
    float: left;
    border: 3px solid transparent;
    border-right-color:#f0c86d;
    }
    
    
    nav li  a {
    color:#f0c86d !important;
    }
    .circle{
    display: none;
    }
    
    .stroke-double{
      color: #f0c86d;
      text-transform: uppercase;
      text-decoration: none;
      transform: rotate(270deg);
      font-size: 9px;
      float: left;
      padding-bottom: 9px;
      border: 3px solid transparent;
      border-bottom-color:#f0c86d;
    }

    nav .nav-link {
      display: block;
      color: #f0c86d;
      text-transform: uppercase;
      text-decoration: none;
      margin: 1rem;
      /* transform: rotate(270deg); */
      display: inline-block;
      font-size: 9px;
      }
    
    .metarticle-visible-txt{
    display: block;
    grid-area: sidebar;
    }
    .metarticle-inv-txt{
    display: none;
    }
    .button-txt-id{                /*questa è la div con i pulsanti*/
    grid-area: button;
    z-index: 2;
    }
    .sidecont-txt{
    background-color:rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    color:white;
    text-decoration: none;
    }

    @keyframes fadeIn {                 /*Animazione random da modificare*/
    0% {
      opacity: 0;
      display: none;
    }
    1% {
      display: block;
    }
    100% {
      opacity: 1;
    }
    }
    
    .sidecont-txt {
    animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
    }
    /*
    .sidebar {
    grid-area: sidebar;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    display: grid;
    }
    */
    .accordion {
    padding: 8px;
    text-decoration: none;
    border: 3px solid black;
    width: fit-content;
    height: fit-content;
    }
    
    .accordion:hover {
    color: #f1f1f1;
    }
    
    
    #map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
    height: 200px;
    width: 200px;
    margin: 0 auto;
    }
    
    .openbtn {
    font-size: 20px;
    background-color:#333;
    color: #f1f1f1;
    z-index: 2;
    }
    
    .openbtn:hover {
    background-color: pink;
    }
    
    
    @media screen and (max-height: 450px) {
    .sidecont-txt {
        padding-top: 5px;
    }
    
    .sidecont-txt a {
        font-size: 1em;
    }
    }
    
    .uno{
        z-index: 1;
        text-align: center;
        padding: 80px;
    }
    
    .due{
        z-index: 0;
        padding: 5%;
    }
    
    #aldinedelf{
        height: 65%;
        position: relative;
        left: 37.5%;
    }
    
    .separator.t {
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
        z-index: 0;
    }
    
    .wrapper {
        text-align: center;
        top: 55%;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .separator.left {
        width: 100%;
        height: 20%;
        position: absolute;
        z-index: 0;
        display: block;
    }
    
    
    .diagonal{
      margin-top: 10%;
      text-align: justify;
      margin-bottom: 5%;
    }
    
    .logo-image{
      width: 30vw;
      height: 60vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: white;
      background-position: center;
      clip-path: circle(40%);
      shape-outside: circle(40%);
    }
    
    #kkk-logo {
      margin-right: 5%;
      float: left;
      position: relative;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Emblem_of_the_Ku_Klux_Klan.svg/1024px-Emblem_of_the_Ku_Klux_Klan.svg.png");
    }
    
    #masonry-logo {
      float: right;
      margin-left: 5%;
      right: 0;
      background-image: url("https://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-01/square-and-compass-01.png");
    }
    
    #skull-logo {
      margin-right: 5%;
      float: left;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Bones_logo.jpg");
    }
    
    #kkk-logo::after,
    #skull-logo::after,
    #masonry-logo::after {
      content: '';
      height: 300%;
      left: -50%;
      position: fixed;
      top: -100%;
      width: 300%;
    }
    
    #content-card {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
    }
    
    .element {
      z-index: 1;
      padding: 10px;
      margin: 10px;
      display: inline-block;
      color: #FFF; /* Text color */
      border: 8px black;
      border-style: solid none;
      text-decoration: none;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }

    .element a{
      text-decoration: none;
      color: black;
    }
    
    .element:hover {
      background-color: black; /* Change the background on hover */
      color: white ;
    }
    
    .layoutfooter {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    
    .layoutfooter>button {
      margin-top: 3%;
      margin-bottom: 3%;
      width: 15%;
      margin-left: 5%;
    }

    #main-footer{
      padding: 5vh;
      text-align: left;
    }
    
    .card-name {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-evenly;
    }

    .wrapper h2{
      float: center;
    }

    .name-card {
      background-color: rgba(161, 164, 164, 0.323);
      color: white;
      margin-right: 10px;
      width: 23vw;
      word-wrap: break-word;
      padding: 3%;
      height: 53vh;
    }
    
    .name-card:hover {
      content: " ";
      animation: pulse 2s infinite;
    }
    
    .modal-body,
    .modal-header {
      color: black;
      overflow: auto;
    }
    
    @keyframes pulse {
      0% {
        transform: scale(0.95);
      }
    
      70% {
        transform: scale(1);
      }
    
      100% {
        transform: scale(0.95);
      }
    }
    
    .name-card>img {
      width: 50%;
      border-radius: 50%;
    }
    
