@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Hind+Madurai:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Hind+Madurai:wght@400;600;700&family=Palanquin+Dark:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');
@font-face {
    font-family: popupFont;
    src: url(Rushfordclean-rgz89.otf);
  }
  @font-face {
    font-family: west;
    src: url(SanAndreas-MVxPw.otf);
  }

  
* {
    font-weight: 400;
    font-family: 'Hind Madurai', sans-serif;
  }



/*SCROLL BAR*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
::-webkit-scrollbar-thumb:horizontal
{
	background-color: #000000;
}



/*MAIN CONTAINER*/
.grid-normal {
    width: 100%;
    display: grid;
    grid-template-columns:10% 90%;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    background-color: #f5f5f5;
    
}
.grid-large {
    width: 100%;
    display: grid;
    grid-template-columns:20% 10% 70%;
    grid-template-areas:
        "nav nav nav"
        "sidebar button main"
        "footer footer footer";
    background-color: #f5f5f5;
    
}



.openbtn{
    text-align: center;
    border: none !important;
    background-color: transparent;
    font-size: 20px !important;
    margin: 10px;
    padding: 0 !important;  
    position: -webkit-sticky;
    position: sticky !important;
    top: 10px;
}
#button-art{
    top: 50px;
}
.menu__link .custom-svg{
    fill: #141414 !important;
    stroke-linecap: round;
    position: relative;
    transform: none;
    z-index: 2;
    opacity: 1;
    background-color: #F5F5F5;
}
.custom-svg{
    fill: #141414 !important;
    width: 50px;
    border: none;
    & path{
        stroke: none;
    }
}
#button-txt-id{                /*questa è la div con i pulsanti*/
    grid-area: button;

}


#button-txt-id .openbtn:nth-of-type(2) {
	text-decoration: none;
	position: relative;
	text-align: center;
	
	&:hover {
		.button-stroke:nth-child(1) {
			stroke-dashoffset: 0;
		}
	}
}
.permanent-line{         
    stroke-dashoffset: 0;
}

.button-stroke {
	display: block;
    width: 100%;
	height: 10px;
    margin-left: 0;
	stroke: rgba(79, 77, 77, 0.571);
	position: absolute;
	stroke-width: 2;
	
	&:nth-child(1) {
		stroke-dasharray: 350px;
		stroke-dashoffset: 350px;
		stroke-width: 3;
		transition: stroke-dashoffset 800ms ease-out;
	}
}

.menu__link {
    display: inline-block rgba(79, 77, 77, 0.571);
    text-decoration: none;
    position: relative;   
    line-height: 1;
    border: none;
    background-color: transparent;
  }
  
  .menu__link svg {
    fill: none;
    stroke: rgba(79, 77, 77, 0.571);
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 30px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
  }
 
  .theonlymagazine{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    text-transform: capitalize;
  }
  #roles a{
    color: #111;
    text-decoration-color: rgb(35, 35, 240) !important;
  }
  



path{
    stroke: rgb(11, 87, 163);
 } 

 #button-meta:hover {
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  #button-meta{
    max-width: min-content;
  }
  #button-art{
    max-width: min-content !important;
  }
  

main{                   /*Questa è il testo*/
    grid-area: main;
}


/*NAVBAR*/

nav {
    grid-area: nav;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;      
}


nav li {
    text-align: center;
    padding: 6px;
  }
  .navbar-toggler-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/MediaWiki_Vector_skin_action_arrow.svg/2048px-MediaWiki_Vector_skin_action_arrow.svg.png') !important;
  }

  nav .nav-link {
    text-transform: uppercase;
    color: #141414 !important;

  }

.decoration-sx, .decoration-dx{
    display: none;

}


/*SECRETMUG TITLE*/

.circle{
    display: none;
}



.navbar-brand{
    margin: auto !important;
}
.stroke-double{
    font-size: 28px;
    text-transform: capitalize;
    font-family: 'Palanquin Dark', sans-serif !important;
    text-decoration: none;
    padding: 0 10px;
    margin: auto;
    color: #ec6104 !important;
    max-height: 100px;

}
.dropdown-menu{
    --bs-dropdown-item-padding-y: 0px !important;
    --bs-dropdown-item-padding-x: 0px !important; 
    --bs-dropdown-min-width: 0px !important;
    margin-top: 10px !important;
    max-height: 300px;
}
.dropdown-item{
    --bs-dropdown-item-padding-y: 0px !important;
    --bs-dropdown-item-padding-x: 0px !important;

}
.dropdown-item a{
    max-width: 100px !important;
    padding: 0 !important;}

    .dropdown-item button{
        width: 100%;
        white-space: pre-line; /* Allow line breaks in the button text */
        height: auto;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
    
    }
    .dropdown-menu li{
        border: transparent;
        text-transform: uppercase;
    
    }
/*MAINPAGE*/
#body-main-id nav{
    border-bottom: none;
}
header .stroke-double{
    font-size: 60px;
}
h2.stoke-d{
    white-space: pre-line; /* Allow line breaks in the button text */
    height: auto;
}

#txt-main-id{
        padding: 10px 0;
        text-align: lef;
        word-wrap: break-word;
        hyphens: auto;
        width: 100%;
        overflow-wrap: break-word;
        font-weight: 400;
      }
      #txt-main-id h1,h2{
        text-transform: uppercase;
      }
      

.uno{
        width: 100%;
        background-color: black !important;
        display: block !important;
}
.wrapper1{
    width: 45%;
    float: right;
    margin-right: 5%;
}
.wrapper1 span{
    font-size: 45px !important;
}

.uno h1, .uno p{
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: left;
}

#aldinedelf{
  display: none;
}

.due:nth-child(n+1)::before, .due:nth-of-type(n+3)::after, #first-diagonal::before {
    content: "";
    border-top: 7px solid #111;
    width: 90%;
    margin-left: 7%;
    margin-right: 3%;
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.wrapper2{
    float:right;
    width: 45%;
    text-align: left;
    margin-right: 5%;
}
.wrapper2 h2{
    font-size: 16px;
}
.due p{
    margin-bottom: 0px;
}
.due p:first-child{
    padding-top: 20px;
}
.due p:nth-child(2){
    padding-bottom: 10px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-areas: "tl tx" "tl el";
    grid-template-columns: 50% 50%;
}

.wrapper h2{
    font-size: larger;
    word-wrap: break-word;
    grid-area: "tl";
    padding: 10px;
    padding-right: 20px;
    text-align: right;
}

#content-card p{
    margin: 0;
padding: 0;
}
#content-card a{
    color: #111;
    text-decoration-color: rgb(35, 35, 240);
}
.wrapper p{
    width: 90%;
    grid-area: tx;
    margin: 0;
}
#conten-card{
    padding-bottom: 10px;
}
#content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3px;

}
.card {
    margin: 0 auto;
    width: 60%;
    border: none !important;
    
}


.card-img-top{
    filter: brightness(1) invert(5);
    filter: grayscale(100%);
}


.card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

#main-footer{
    padding: 10px 30px 10px 10px;
}
#main-footer .wrapper {
    display: inline!important;  
}
#main-footer h2{
    text-decoration-line: underline;
    font-size: 30px;
    text-align: left;
    text-transform:lowercase;
    grid-area: about;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
#main-footer h2::first-letter{
    text-transform:capitalize;
}

#main-footer{
    border-top: 10px solid #141414;
}

#main-footer .layoutfooter{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "fig dis" "fig str";
}
#main-footer .card-name{
    margin-left: 10px;
    height: 100%;
    grid-area: fig;
    display: grid;
    grid-template-columns: auto;
}
.card-name img{
    margin: 0;
    grid-area: img;
    max-width: 100px;
}
#main-footer .card-name p{
    float: right;
    grid-area: sc;
}
#main-footer .card-name a{
    grid-area: sc;
}
#main-footer .card-name i{
    grid-area: sc;
}



#main-footer .name-card{
    grid-area: "fig";
    width: 100%;
    display: grid;
    grid-template-areas: "img sc";
    grid-template-columns: 20% 80%;
    padding: 6px 0;
}
#credits{
    height: fit-content;
    grid-area: str;
    display: block;
    width: 95%;
    padding: 3px 10px;
    float: left;
    border: 4px dotted #111;
}
#main-footer .name-card p{
    margin-top: 20px;
    padding: 3px;

}

.stroke-d span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
#main-footer p:first-of-type{
    margin:0;
    padding: px;

} 

#main-footer a{
    margin-top: 40px;
    margin-right: 60px;
    padding: 3px;
    color: #141414;

}

#main-footer a:nth-of-type(2){
    margin-right:20%;

}
#main-footer i{
    float: right;

}
#main-footer button{
background-color: #141414;
height: 95%;
width: 95%;
border:0px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 900;
font-size: 50px;
grid-area: dis;
}
#main-footer button:hover{
    opacity: 90%;
}





/*SIDEBAR NEI TESTI*/

.metarticle-vis-txt{
    display: block;
    grid-area: sidebar;
}
.metarticle-inv-txt{
    display: none !important;
}
#metadata-txt-id{
    position: sticky;
   top: 0;
}
#article-txt-id{
    position: sticky;
   top: 0;
}



@keyframes fadeIn {                 /*Animazione random da modificare*/
    0% {
      opacity: 0;
      display: none;
    }
    1% {
      display: block;
    }
    100% {
      opacity: 1;
    }
  }

  .sidecont-txt {
    animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
    padding: 10px;
    margin-left: 10px;
  }
  button.accordion {
    width: 20vw;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    color: #f5f5f5;
    display: block;
    text-align: left;
    border: none;
    width: 70% !important;
   background-color: #141414 !important;

  }
    .panel {
        margin-left: 10px;;
        width: 40vh;
        display: none;
        --bs-link-color-rgb: #141414 !important;
        color: #141414;
        background-color: transparent;
        overflow: hidden;
      }
    .panel a{
        text-decoration-color: #0508cf !important;
        
        
    }


  .accordion{
   margin: 10px 0;
   
  }

.sidebar {
    grid-area: sidebar;
}
#sidebar-txt-id {
    word-wrap: break-word;
    height: 100%;
    
  }

.notes{
    font-size: smaller;
}



#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
    height: 200px;
    width: 200px;
    margin: 0;
    filter: brightness(1) invert(20%) grayscale(1);
    
}





img {                   
    display: block;
     margin: 20px auto;
    filter:  grayscale(1);
    max-width: 200px;
    width: 100%;
    
    }
    

#main-txt-id{
    padding: 5% 1% 3% 8%; 
    display: grid;
    grid-template-areas: "title""text";   


}
#introduction-txt-id{
    grid-area: title;
            display: grid;
            grid-template-areas: "tl" "author";
          
        
        }

#introduction-txt-id h1{
        border-bottom: 2px solid #262626;
            border-top: 2px solid #262626;
            font-weight: 400;
            padding: 5px 0;
            text-transform: uppercase;
            ;
            }

span .material-symbols-outlined{
    font-family: 'Material Symbols Outlined'!important;
}
main a:link, main a:visited{
    color: #141414;
}

.author:first-of-type {
    text-transform: uppercase;
    grid-area: author;

  }
.author:first-of-type:before{
    content: "By ";
    text-transform: capitalize;

}
 .author:first-of-type{
    border-bottom: 8px solid #262626;
    padding: 10px 0;
    margin-top: 50px;
    font-weight: 700;
    font-size: 12px;
}
  .text{
    padding: 10px 0;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    width: 100%;
    columns: 3 100px;
    overflow-wrap: break-word;
    font-weight: 400;
    grid-area: text;
  }

.q-symbol{
    vertical-align: 0%;
    height: 1em;
    padding: 0 3px;
    margin: 0;
    display: inline;
}









#bside {
    padding-top: 5%;
}

#bside>button {
    width: fit-content;
    margin-bottom: 2vh;
}



.maiuscoletto {
    font-variant: small-caps;
}






.immagine {
    margin-bottom: 3%;
}

.immagine>img {
    width: 15vw;
    height: auto;
    border-style: solid;
    border-color: blueviolet;
    border-width: 10px;
}

.immagine figcaption {
    font-size: 0.8em;
    font-style: italic;
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid !important;
    text-align: center;
}
td:nth-child(1){
    width: 200% !important;
}

.particularTable {
    font-size: 9px
}

h3{
    font-size: 16px !important;
    text-align: left;
    text-transform: lowercase;
    font-weight: 600 !important;
}
h3::first-letter{
    text-transform: uppercase;

}


.footnotes {
    font-size: 0.9rem;
}
#titlecover{
    display: none;
}

.forma2 {
    display: none;

}

.forma1 {
    display: none;
}




.new {
    display: none;
}
.main_container{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "nav nav" "sidebar main" "footer footer";
    
}
.maincover{
    grid-area: main;
}



/*sidebartag*/

.styleDate {
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    padding: 2px;
  }

.stylePerson {
border: 3px solid #0508cf; 
  border-radius: 10px;
  padding: 3px 5px;
}

.styleEvent {

border-bottom: 4px solid #0508cf;
display: inline;
padding-bottom: 1px; 
}




/*FOOTER*/
footer{
    grid-area: footer;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}
#body-txt-id footer{
    padding: 5px;
}
#body-txt-id footer p{
    text-align: right;
    padding: 5px;
    margin: 0;
}

    #body-main-id {
    width: 100%;
    display: grid;
    grid-template-areas:
        "nav"
        " main"
        " footer";
    background-color: #f5f5f5;         
    }
#cop{
    padding: 3px;
}


/*DOCUMENTATION*/

#main-d{
    padding: 10px 20px !important;
    display: grid;
    grid-template-areas: "doc doc doc" "sev sev dis" "ald des nove" "otto otto nove";
}
.container1{
    margin:  5px;
    padding: 10px;
    border: #141414 3px solid;
}
.container1:nth-child(odd) p{
    font-family: 'JetBrains Mono', monospace !important;
}
#main-d h1{
    text-transform: uppercase;
    font-family:'popupFont', sans-serif !important;
    font-size: 70px;
    border-bottom: #141414 20px solid;
    border-top: #141414 20px solid;
    border-right: #141414 5px solid;
    border-left: #141414 5px solid;
    line-height: 50px;
    word-break: break-all; 
    padding: 30px 0 0 20px;
    margin-bottom: 0px;
}
#main-d h1::after{
    content: "!!!";   
}
#doc{
    grid-area: doc;
}
#main-d .intro-container{
    border: #141414 5px solid;
    padding: 10px 20px;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
}
#main-d .intro-container p{
    margin: 0px;
}
#main-d .intro-container ol{
    list-style-type: none;
}
#main-d .intro-container ol li:nth-of-type(2)::before, #main-d .intro-container ol li:nth-of-type(3)::before{
    content: "PLUSS ";
    font-family:'popupFont', sans-serif !important;
    
}
#roles{
    border: 30px solid;
    margin: 0 !important;
    text-transform: uppercase;
    font-size: smaller;
    border: #ffffff 10px inset;
    border-radius: 30px; /* Rounded corners */
    width: 80%;
    padding: 20px; 
}
.container1:nth-of-type(2),
.container1:nth-of-type(7) {
    background-color: #141414;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0 7px 7px 7px;
    margin-top: 10px;
    text-align: center;
    height: fit-content !important;
    
}

.container1:nth-of-type(2) h2, .container1:nth-of-type(2) h3, .container1:nth-of-type(7) h2, .container1:nth-of-type(7) h3{
    color: #f5f5f5;
    text-align: center;
}
.container1:nth-of-type(3){
    margin-top: 10px;
    grid-area: otto; 
    & li{
        font-family:'JetBrains Mono', monospace !important;;
    }   
}
.container1:nth-of-type(3) h2{
    font-family: west;
    font-size: 40px;
}
.container1:nth-of-type(2){
    grid-area: ald;
    
}


.container1:nth-of-type(5){
    border: 10px solid #141414;
    padding: 10px;
    background-color: #ec6104;
    border-radius: 20px;
    grid-area: sev;
    padding: 0 5%;
}
.container1:nth-of-type(5) p{
    margin: 0;
}
.container1:nth-of-type(5) h4{
    color: #F5F5F5;
    text-transform: uppercase;
    font-weight: 800;
    font-size: larger;
    text-align: center;
}
.container1:nth-of-type(5) h2{
    color: #ec6104;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    width: 50%;
    margin: 5px auto;
    background-color: #F5F5F5;
    border: 3px #141414 solid;
    border-radius: 10px;
    
}
.container1:nth-of-type(5) h2::after{
    content: "!";
}

.container1:nth-of-type(4){
    border: 5px solid #141414;
    padding: 10px;
    margin-top: 10px;
    grid-area: des;
    min-height: max-content;
}
.container1:nth-of-type(4) p{
    font-family: 'JetBrains Mono', monospace;
}

.container1:nth-of-type(4) h4,.container1:nth-of-type(4) h2{
    font-family:'marlone', sans-serif !important;
}
.container1:nth-of-type(7){
    grid-area: dis;
}
.container1:nth-of-type(3) p{
    margin: 0 !important;
}
.style-70-doc{
    background-color: #F5F5F5;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto;
}
.container1:nth-of-type(6){
    grid-area: nove;
    border: 20px solid transparent;
    padding: 15px;
    border-image: url(pngegg.png) 30 round;
    & .img-d{
        display: grid;
    grid-template-columns: auto;}
    
}
.style-70-doc p{
    text-align: left;
    padding:0  20px;
}
.style-70-doc h4{
    font-weight: 700;
    text-transform: capitalize;
 
}


.container1:nth-of-type(2) h4::before, .container1:nth-of-type(2) h2::before,  
.container1:nth-of-type(7) h4::before, .container1:nth-of-type(7) h2::before{
    content: '\2605'; 
    display: inline-block;
    margin: 3px;
}
.container1 img{
    filter: none;
    height: auto;
}
.container1:nth-of-type(2) .img-d{
        display: grid;
        grid-template-columns: auto !important;
    }


.img-d{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    & img{
        max-height: 450px;
        width: auto;
}}

#main-d .card-name{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: auto;
    padding: 30px;
}
#main-d .card-name .name-card img{
    min-height: 50px;
    min-width: 50px;  
}
#main-d .name-card figure{
    width: 70%;
    margin: auto;
    align-items: center;
    align-content: center;
    align-self: center;
}

#main-d .card-name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    & .name-card{
        width: 10%;
         
    }
    & img{
        border: 1px solid #1b1a1a;
    }
}





@media screen and (max-width: 600px) {

    .wrapper, .layoutfooter{
        display: block !important;

    }
    .wrapper1, .wrapper2{
        width: 100%;
        margin: 0;

    }
    .wrapper{
        width: 100%;
        display: block;
        padding: 10px;
    }
    .wrapper2{
        padding: 10px;
    }
    #main-footer p{
        word-break: break-all !important;

    }
    #body-main-id{
        width: 100%;
        
    }
    
    .wrapper1 .stroke-d{
        float: right;
        text-align: center;
    }
    .wrapper1 h1{
        width: 100%;
    }
    #body-main-id{
        width: 100%; 
        display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "nav"
        "main"
        "footer" !important;
    }
    h2.stoke-d{
        max-width: 50px !important;
    }
    .wrapper1:first-of-type{
        padding: 0;
    }
    .wrapper1 {
        width: 100% !important;
        float: left !important;
        margin-right: 0 !important;
    }
    .wrapper1 p {
        text-align: left !important;
        width: 95% !important;
        float: right;
    }
    .logo-image{
        display: none;
    }
    .wrapper p{
        width: fit-content;
    }
    #main-footer{
        padding: 0;
    }

}

@media screen and (max-width: 800px) {
    
    #body-txt-id{
        width: 100%; 
        display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto 100px;
    grid-template-areas:
        "nav"
        "button"
        "main"
        "footer" !important;
    }

    #button-txt-id{
    height: 1%;

        }
    .text{
        columns: 1 !important;
      }
    

}
