@font-face{
  font-family: Josefin;
  src:url('JosefinSans-Light.ttf');
}
@font-face {
  font-family: theo;
  src: url("DeStijl\ Regular.ttf");
}
#button-txt-id svg{
  display: none;
}
.custom-svg {
  display: block !important;
}
body {
  font-family: "Josefin";
  display: grid;
  line-height: 1.4;
  justify-content: center;
}

html {
  font-family: "Josefin";
  font-size: 16px;
}

h1, h2, h3, h4,
li, .accordion,
.openbtn, a, p{
  font-family: "Josefin";
}

#body-main-id {
  background: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
}

#body-main-id::-webkit-scrollbar {
  display: none;
}



#body-txt-id {
  display: grid;
  overflow-y: hidden;
  overflow-x: hidden;
}


.background-grid {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  z-index: -1;
  cursor: pointer;
}

.block {
  cursor: pointer;
  border: none;
  display: block;
}




.layoutfooter>button:hover,
.block:hover {
  animation: 3s multicolor;
  animation-iteration-count: infinite;
}

@keyframes multicolor {
  0% {
    background-color: rgb(0, 0, 0);
  }

  25% {
    background-color: rgb(255, 0, 0);
  }

  50% {
    background-color: rgb(0, 0, 255);
  }

  75% {
    background-color: rgb(255, 255, 255);
  }

  100% {
    background-color: rgb(255, 255, 0)
  }

}

.layoutfooter>button:hover {
  animation: 3s multicolormodal;
  animation-iteration-count: infinite;
}

@keyframes multicolormodal {
  0% {
    background-color: rgb(0, 0, 0);
  }

  33% {
    background-color: rgb(255, 0, 0);
  }

  66% {
    background-color: rgb(0, 0, 255);
  }

  100% {
    background-color: rgb(0, 0, 0)
  }

}

#white-square {
  position: fixed;
  width: 228px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  top: 0%;
  left: 382px;

}

#square-2 {
  position: fixed;
  width: 210px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  top: 0%;
  left: 620px;
}

#white-square-3 {
  position: fixed;
  top: 0%;
  left: 840px;
  width: 242px;
  height: 200px;
  background-color: rgb(255, 255, 255);

}

#square-3 {
  width: 21.15%;
  height: 55.85%;
  background-color: rgb(255, 0, 0);
  position: fixed;
  top: 0%;
  right: 7.85%;
}


#blue-square-2 {
  width: 24.25%;
  height: 28.5%;
  background-color: rgb(0, 0, 255);
  position: fixed;
  top: 40px;
  left: 0%;
  z-index: -1;
}

#yellow-square {
  width: 13.15%;
  height: 42.1%;
  background-color: rgb(255, 255, 0);
  z-index: -1;
  position: fixed;
  left: 0%;
  top: 35%;

}

#mini-white-square {
  left: 13.75%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 10.5%;
  height: 65%;
  bottom: 0%;
  z-index: -1;
}

#white-square2 {
  left: 382px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 228px;
  height: 205px;
  bottom: 0%;
}

#white-square3 {
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 0%;
  width: 300px;
  height: 105px;
  left: 620px;
}

#white-square4 {
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 115px;
  height: 390px;
  width: 242px;
  right: 454px;
}

#white-square5 {
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 0%;
  height: 14.70%;
  width: 29%;
  right: 0%;
}

#gold-square {
  position: fixed;
  background-color: rgb(255, 255, 0);
  bottom: 15.75%;
  height: 27.25%;
  width: 29%;
  right: 0%;
}


#place-square1 {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 7.35%;
  height: 55.85%;
  background-color: rgb(0, 0, 0);
}

#place-square2 {
  left: 0%;
  bottom: 0%;
  position: fixed;
  width: 13.15%;
  height: 21.75%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

#main-txt-id {
  position: absolute;
  z-index: 1;
  text-align: justify;
  color: rgb(0, 0, 0);
  padding: 1.25rem;
  background: rgba(255, 255, 255, 1);
  max-width: 45.5%;
  margin: 0 auto;
  font-family: "Josefin";
  right: 29.6%;
  top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 82.5%;
  align-items: center;
}

#main-txt-id::-webkit-scrollbar {
  display: none;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.circle {
  display: none;
}

nav {
  grid-area: nav;
  z-index: 2;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  font-family: 'Cardo', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'IM Fell English', serif;

}

nav li {
  float: left;
  /* border: 3px solid black;
      margin-right: 2em; */
}



nav li a {
  color: rgb(255, 255, 255);
}

.circle {
  display: none;
}

#aldinedelf{
  display: none;
}

.stroke-double {
  border-left: 10px solid rgb(0, 0, 0);
  margin-left: 2em;
  margin-right: 2em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.5rem;
  float: left;

}

a {
  color: rgb(0,0,0)
}

li.nav-item {
  background-color: rgb(255,0,0);
}

li.nav-item.dropdown {
  background-color: rgb(0,0,0);
  margin-left: 27px;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

nav .nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem;
  font-size: 0.5rem;
  background-color: rgb(255, 0, 0);
}

a.dropdown-toggle {
  background-color: rgb(0, 0, 0);
}

.panel ul li a{
  color:rgb(255,255,255);
}

.panel form div a{
  color:rgb(255,255,255);
}

#docnavbar {
  background-color: rgb(255, 0, 0);
}


#sidebar-txt-id {
  grid-area: sidebar;
  overflow-y: scroll;
  z-index: 2;
  top: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  color: rgb(255 255 255);
  text-decoration: none;
  animation: fadeIn 1s ease-in-out;
}

#sidebar-txt-id::-webkit-scrollbar {
  display: none;
}
.panel {
  display: none;
  background-color: transparent;
}

.person a{
  color:rgb(255,255,255);
}

.event a{
  color:rgb(255,255,255);
}

.date a{
  color:rgb(255,255,255);
}
  
  
.metarticle-visible-txt {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
}

.metarticle-inv-txt {
  display: none;
}

#button-txt-id {
  grid-area: button;
}

.sidecont-txt {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

@keyframes fadeIn {

  /*Animazione random da modificare*/
  0% {
    opacity: 0;
    display: none;
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}


#article-txt-id,
#metadata-txt-id {
  max-height:100vh;
  overflow-y: scroll;
}

#article-txt-id::-webkit-scrollbar,
#metadata-txt-id::-webkit-scrollbar {
  display: none;
} 


.sidecont-txt {
  animation: fadeIn 1s ease-in-out;
  /* Imposta la durata dell'animazione */
}

.accordion {
  padding: 0.5rem;
  text-decoration: none;
  border: 0.2rem solid rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
}

.accordion:hover {
  color: rgb(255, 255, 255);
}

#map {
  /*Ricorda di rendere LA MAPPA RESPONSIVE*/
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.openbtn {
  font-size: 1.25rem;
  background-color: rgb(0, 0, 0);
  color: #f1f1f1;
}

.openbtn:hover {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-height: 450px) {
  .sidecont-txt {
    padding-top: 5px;
  }

  .sidecont-txt a {
    font-size: 1em;
  }
}

.uno {
  text-align: center;
  padding: 100px;
}

.separator.left {
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: 0;
  display: block;
}

.diagonal {
  margin-top: 10%;
  text-align: justify;
  margin-bottom: 5%;
}

.wrapper {
  text-align: justify;
  top: 55%;
  padding-left: 3%;
  padding-right: 3%;
}

.wrapper2 {
  border-right: 1.25rem solid rgb(0, 0, 0);
  border-left: 1.25rem solid rgb(0, 0, 0);
  padding: 1%;
  margin-left: -1.5%;
  width: 103%;
}

#firstdue {
  top: 2%;
  position: relative;
  left: 17.5%;
  width: 65%;
  /* border-right: 20px solid black; */
  border-bottom: 1.25rem solid rgb(0, 0, 0);
  border-top: 1.25rem solid rgb(0, 0, 0);
  padding: 1%;
}

#secondue {
  position: relative;
  left: 5%;
  width: 90%;
  padding: 1%;
  border-right: 1.25rem solid rgb(0, 0, 0);
  border-left: 1.25rem solid rgb(0, 0, 0);
}

#first-diagonal {
  position: relative;
  left: 5%;
  padding: 1%;
  width: 90%;
  border-right: 1.25rem solid rgb(0, 0, 0) !important;
  border-left: 1.25rem solid rgb(0, 0, 0) !important;
}

#secondiagonal {
  position: relative;
  left: 5%;
  width: 90%;
  /* border-right: 20px solid black; */
  border-bottom: 1.25rem solid rgb(0, 0, 0);
  padding-bottom: 1%;
}

#secondiagonal:hover,
#firstdiagonal:hover,
#secondue:hover,
#firstdue:hover,
.wrapper2:hover,
#about:hover,
.container1:hover,
#stylewrapper:hover,
#body-d-id #copyr:hover {
  animation: 3s multicolorborder;
  animation-iteration-count: infinite;
}


@keyframes multicolorborder {
  0% {
    border-color: rgb(0, 0, 0);
  }

  25% {
    border-color: rgb(255, 0, 0);
  }

  50% {
    border-color: rgb(0, 0, 255);
  }

  75% {
    border-color: rgb(255, 255, 0)
  }

  100% {
    border-color: rgb(0, 0, 0)
  }

}

#kkk-logo::after,
#skull-logo::after,
#masonry-logo::after {
  content: '';
  height: 300%;
  left: -50%;
  position: fixed;
  top: -100%;
}

#content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element {
  z-index: 1;
  padding: 0.65rem;
  margin: 0.65rem;
  display: inline-block;
  color: rgb(255, 255, 255);
  /* Text color */
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  box-shadow: none;
}

.element a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.layoutfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blacksquare1 {
  position: relative;
  width: 40vh;
  height: 40vh;
  left: 42%;
  background-color: rgb(0, 0, 0);
}

.blacksquare2 {
  position: relative;
  width: 46vh;
  height: 46vh;
  left: 32.7%;
  background-color: rgb(0,0,0);
  border: 1.25rem solid rgb(255, 255, 255);
}

.welcome {
  position: absolute;
  top: 38%;
  left: 36%;
  font-size: 4.06rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
  mix-blend-mode: difference;
}


.to {
  position: absolute;
  text-transform: uppercase;
  font-size: 4.06rem;
  font-weight: bold;
  top: 58.5%;
  left: 47%;
  transform: rotate(30deg);
  color: rgb(255, 255, 255);
  z-index: 1;
  mix-blend-mode: difference;
}

.secretmag {
  position: absolute;
  text-transform: uppercase;
  font-size: 4.06rem;
  font-weight: bold;
  top: 82.5%;
  color: rgb(255, 255, 255);
  z-index: 1;
  mix-blend-mode: difference;
  right: 33%;
}

.theonlymagazine {
  font-size: 1.75rem;
  text-transform: uppercase;
  border-bottom: 1.25rem solid black;
  font-family: "theo";
}

.welcome,
.to,
.secretmag {
  font-size: 5rem;
  font-family: "theo";
}


table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border: 0.125rem solid rgb(0, 0, 0);
}
th, td, tr{
  font-family: "Josefin";
}

tr:nth-child(even):hover {
  background-color: rgb(255, 0, 0);
}

tr:nth-child(odd):hover {
  background-color: rgb(255, 255, 0);
}

.layoutfooter>button {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 15%;
  margin-left: 5%;
}



.name-card:hover {
  content: " ";
}

.modal-body,
.modal-header {
  color: rgb(0, 0, 0);
  overflow: auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.name-card>img {
  width: 50%;
  border-radius: 50%;
}

.layoutfooter>button {
  margin: 1.25rem auto;
  margin-top: 5%;
  background-color: rgb(0, 0, 0);
  border: none;
}

#about {
  border-bottom: 1.25rem solid rgb(0, 0, 0);
  max-width: 10%;
  margin-bottom: 2%;
}

#copyr {
  position: absolute;
  bottom: 0%;
  color: rgb(0, 0, 0);
  right: 29.6%;
  z-index: 2;
  font-size: 0.75rem;
  background-color: rgb(255, 255, 255);
  width: 45.5%;
  height: 2.95rem;
  padding: 0.5%;
}

.styleDate {
  background-color: rgb(0, 0, 255);
}

.stylePerson {
  background-color: rgb(255, 0, 0);
}

.styleEvent {
  background-color: rgb(255, 255, 0);
}

.nmap {
  background-color: rgb(255, 0, 0);
}

.fi {
  position: relative;
  left: 15%;
  /* width: 100%; */
  height: auto;
}

figure img {
  position: relative;
  left: 27%;
  width: 40%;
  height: auto;
}


.fc {
  position: relative;
  right: 15%;
}

.card-name {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

#main-footer .card-name {
  border-top: 1.25rem solid black;
  border-bottom: 1.25rem solid black;
}

#main-footer .card-name .name-card {
  border-right: 1.25rem solid black;
  border-left: 1.25rem solid black;
}

.name-card {
  /* background-color: rgba(161, 164, 164, 0.323); */
  color: rgb(0, 0, 0);
  margin-right: 0.6rem;
  width: 23vw;
  word-wrap: break-word;
  padding: 3%;
  height: 53vh;
  font-size: 1.02em;
}

.title {
  display: flex;
}

.layoutfooter .card-name .name-card:first-child {
  background-color: rgb(255, 255, 0);
}

.layoutfooter .card-name .name-card:nth-child(2) {
  background-color: rgb(0, 0, 255);
}

.layoutfooter .card-name .name-card:nth-child(3) {
  background-color: rgb(255, 0, 0);
}

.grid-s-normal {
  grid-template-areas: 'nav' 'button' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 1fr 0.1fr;
}

.grid-small {
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.01fr 0.6fr 1fr 0.1fr;
  grid-template-areas:
    'nav'
    'button'
    'sidebar'
    'main'
    'footer';
}

.grid-normal {
  grid-template-columns: 0.01fr 1fr;
  grid-template-rows: 0.01fr 1.5fr 0.01fr;
  grid-template-areas:
    "nav nav"
    "button main"
    "button footer";
}

.grid-large {
  grid-template-columns: 0.1fr 0.2fr 1fr;
  grid-template-rows: 0.1fr 1.5fr 0.1fr;
  grid-template-areas: 'nav nav nav' 'sidebar button main' 'footer footer footer';
}

#body-d-id::-webkit-scrollbar {
  display: none;
}

#main-d {
  position: relative;
  text-align: justify;
  max-width: 80%;
  max-height: 100%;
  display: block;
  overflow-y: scroll;
  left: 10%;
  grid-area:main;
}

#main-d::-webkit-scrollbar {
  display: none;
}

#main-d h1,
#main-d h2,
#main-d h3,
#main-d h4 {
  text-align: center;
  padding: 1%;
}

#body-d-id {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240,240,240);
  grid-template-areas: 'nav' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
}

#body-d-id #copyr {
  position: relative;
  color: rgb(0, 0, 0);
  z-index: 2;
  left: 15%;
  font-size: 0.75rem;
  background-color: rgb(245, 245, 245);
  width: 70%;
  height: 1.3%;
  padding: 0.5%;
  border-top: 1.25rem solid rgb(0, 0, 0);
  grid-area:footer;
}

#body-d-id .name-card {
  margin-right: 0.6rem;
  width: 23vw;
  padding: 1%;
  height: 15vh;
  font-size: 1.02em;
}

.img-d {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  max-width: auto;
  align-items: center;

}

.intro-container {
  padding: 1%;
  border-top: 1.25rem solid rgb(0, 0, 0);
  border-bottom: 1.25rem solid rgb(0, 0, 0);
}

#stylewrapper {
  padding: 1%;
  margin-left: -1%;
  width: 102%;
  border-left: 1.25rem solid rgb(0, 0, 0);
  border-right: 1.25rem solid rgb(0, 0, 0);
}

.container1 {
  position: relative;
  left: 0%;
  width: 100%;
  padding: 1%;
  margin-top: 5%;
  border-left: 1.25rem solid rgb(0, 0, 0);
  border-right: 1.25rem solid rgb(0, 0, 0);
}



@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  #main-txt-id {
    max-height: 83%;
    padding-top: 3%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #main-txt-id {
    height: 80.75%;
  }

  #blue-square-2 {
    height: 27.5%;
  }

  .welcome {
    font-size: 3.8rem;
    top: 42%;
  }

  .to {
    font-size: 3.8rem;
    top: 65.8%;
  }

  .secretmag {
    font-size: 3.8rem;
    top: 85.8%;
    left: 43%;
  }

  .name-card {
    height: 50vh;
  }
}



@media only screen and (max-width: 769px) and (min-width: 425px) {
  #main-txt-id {
    /* position: fixed;
    height: 82.75%;
    padding-top:5%;
    left: 40%;
    max-width: 58%; */
    top: 7%;
    padding-top: 3%;
    height: 81.75%;
    font-size: 0.8rem;
  }

  #main-txt-id h1,
  #main-txt-id h2 {
    font-size: 1.25rem;
  }

  #copyr {
    height: 10%;
    font-size: 0.6rem;
  }

  .name-card {
    height: 41vh;
  }

  .blacksquare2 {
    left: 20%;
  }

  .blacksquare1 {
    left: 33%;
  }

  .welcome {
    top: 41%;
    left: 28%;
  }

  .to {
    top: 61%;
  }
}

.decoration-dx {
  display: none;
}

.decoration-sx {
  display: none;
}

.grid-small {
  grid-template-columns: 0.33fr 1fr;
  grid-template-rows: 0.05fr 0.01fr 0.6fr 1fr 0.1fr;
  grid-template-areas:
    'nav nav'
    'button main'
    'sidebar main'
    'sidebar main'
    'sidebar footer';
}

.grid-s-normal {
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.05fr 1fr 0.1fr;
  grid-template-areas: 'nav' 'button' 'main' 'footer';
}


@media only screen and (max-width: 426px) {
  .block {
    display: none;
  }


  #body-txt-id{
    width:100vw;
    height:100vh;
  }

  #main-txt-id {
    position:relative;
    grid-area:main;
    max-width: 100%;
    right:0%;
    top:0;
    height:100%;
    max-height:95%;
  }

  .grid-s-normal {
    grid-template-areas: 'nav' 'button' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }

  #body-d-id footer{
    font-size: 0.8rem;
    max-height: 13vh;
  }


  nav {
    grid-area: nav;
  }


  #button-txt-id {
    grid-area: button;
    z-index: 2;
  }

  #copyr {
    grid-area: footer;
    font-size: 0.6rem;
    width: 100%;
    right: 0;
  }

  /* .metarticle-visible-txt {
    grid-area: sidebar;
  } */

  #sidebar-txt-id {
    grid-area: sidebar;
  }

  #metadata-txt-id {
    overflow-y: scroll;
    max-height: 100%;
  }
  
  #article-txt-id {
    overflow-y: scroll;
    max-height: 100%;
  }

  .openbtn {
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
  }

  .blacksquare1{
    display:none;
  }

  .blacksquare2{
    display:none;
  }

  .welcome {
    font-size: 3.8rem;
    position:relative;
    left:0%;
  }

  .to {
    font-size: 3.8rem;
    position:relative;
    left:0%;
  }

  .secretmag {
    font-size: 3.8rem;
    position: relative;
    left:0%;
  }

 

  .element{
    font-size: 0.8rem;
  }

  .card-name{
    border:none;
  }

  #body-main-id{
    width:100vh;
    height:100vh;
  }

  #firstdue{
    left:18.5%;
  }

  #first-diagonal{
    padding-top:3%;
  }

  #main-footer .card-name{
    border-top:0px;
    border-bottom: 0px;
  }

  #main-footer .card-name .name-card{
    border-right:0;
    border-left:0;
    font-size: 0.8rem;
  }
 
}

@media only screen and (width < 376px){
  #main-txt-id{
    font-size: 0.8rem;
    max-height:98%;
  }
}
