@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
body {
    margin: 0; 
    font-family: Arial, sans-serif;
    display: flex;
}
html{
    overflow-x:hidden;
    overflow-y:hidden;
}
#body-txt-id {
    display: grid;
    grid-template-columns:0.01fr 1fr;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    margin: 0;
    padding: 0;
}

.background-grid {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px; 
    z-index: -1; 
    cursor: pointer;
}

.block { 
    cursor: pointer;
    border: none;
}

/* .scrollable-content{
    overflow-y: scroll;
} */
#square {
    width: 390px; 
    height: 40px; 
    background-color: red; 
    top: -10px;
    position: absolute;
    left: -10px;
    cursor: pointer;
}
#white-square{
    position: fixed;
    width: 228px; 
    height: 500px; 
    background-color: whitesmoke; 
    top: 0%;
    left: 382px;
    
}
#square-2{
    position: fixed;
    width: 210px; 
    height: 600px;
    background-color: whitesmoke;
    top: 0%;
    left: 620px;
}
#white-square-3{
    position: fixed;
    top: 0%;
    left: 840px;
    width: 242px; 
    height: 200px;
    background-color: white;
    
}
#square-3{
    width: 21.15%; 
    height: 55.85%; 
    background-color: red; 
    position: fixed;
    top: 0%;
    right: 7.85%;
}


#blue-square-2{
    width: 24.25%; 
    height: 28.25%; 
    background-color: blue; 
    position: fixed;
    top: 40px;
    left: 0%;      
    z-index: -1;      
}

#yellow-square{
    width: 13.15%;
    height: 42.1%;
    background-color: yellow;
    z-index: -1;
    position: fixed;
    left: 0%;
    top: 250px;

}

#mini-white-square{
    left: 13.75%;
    position: fixed;
    background-color: whitesmoke;
    width: 10.5%;
    height: 65%;
    bottom: 0%;
}

#white-square2{
    left: 382px;
    position: fixed;
    background-color: white;
    width: 228px;
    height: 205px;
    bottom: 0%;
}

#white-square3{
    position: fixed;
    background-color: white;
    bottom: 0%;
    width: 300px;
    height: 105px;
    left: 620px;
}

#white-square4{
    position: fixed;
    background-color: white;
    bottom: 115px;
    height: 390px;
    width: 242px;
    right: 454px;
}

#white-square5{
    position: fixed;
    background-color: white;
    bottom: 0%;
    height: 14.70%;
    width: 29%;
    right: 0%;
}

#gold-square{
    position: fixed;
    background-color: gold;
    bottom: 15.75%;
    height: 27.25%;
    width: 29%;
    right: 0%;
}


#place-square1{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 7.35%;
    height: 55.85%;
    background-color: black;
}

#place-square2{
    left: 0%;
    bottom: 0%;
    position: fixed;
    width: 13.15%;
    height: 21.75%;
    z-index: -1;
    background-color: black;
}

#main-txt-id{
    /* width: 48.75%;
    z-index: 0;
    position: absolute;
    text-align: justify;
    font-size: 16px;
    color: #333;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto; 
    font-family: 'Josefin Sans', sans-serif;
    right: 25%;
    left:25%;
    top: 80px; */
/* bottom: 0%;
margin: 20px; 
padding: 20px; 
z-index: -1;
background-color:rgb(255, 250, 245); 
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
position: absolute;
overflow-y: scroll;
z-index: -1;
text-align: justify;
font-size: 16px;
left: 15%;
right: 15%;
color: #333;
padding: 20px;
background: rgb(255, 250, 245);
max-width: 70%; 
margin: 0 auto; 
max-height: 90%;
font-family: 'Cardo', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'IM Fell English', serif;
justify-content: center;
align-items: center;
overflow-y:scroll; */
position: absolute;
z-index: 1;
text-align: justify;
font-size: 16px;
color: #333;
padding: 20px;
background: rgba(255, 255, 255, 1);
max-width: 700px; 
margin: 0 auto; 
font-family: 'Josefin Sans', sans-serif;
right: 29.6%;
top: 11.5%;
overflow-y: scroll;
max-height: 90%;
}
#main-txt-id::-webkit-scrollbar{
    display: none;
}
/* .content {
position: relative;
z-index: 0;
text-align: justify;
font-size: 16px;
color: #333;
padding: 20px;
background: rgba(255, 255, 255, 1);
margin: 0 auto; 
font-family: 'Josefin Sans', sans-serif;
right: 6%;
} */
a {
color: black;
}

nav {
    grid-area: nav;
    background-color: #333;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}
nav li {
float: left;
border: 3px solid transparent;
border-right-color:#f0c86d;
}


nav li  a {
color:#f0c86d !important;
}


.stroke-double{
color: #f0c86d;
text-transform: uppercase;
text-decoration: none;
transform: rotate(270deg);
font-size: 9px;
float: left;
padding-bottom: 9px;
border: 3px solid transparent;
border-bottom-color:#f0c86d;

}
nav .nav-link {
display: block;
color: #f0c86d;
text-transform: uppercase;
text-decoration: none;
margin: 1rem;
transform: rotate(270deg);
display: inline-block;
font-size: 9px;
}

.metarticle-visible-txt{
display: block;
grid-area: sidebar;
}
.metarticle-inv-txt{
display: none;
}
.button-txt-id{                /*questa è la div con i pulsanti*/
grid-area: button;
}
.sidecont-txt{
/**background-color: rgba(255, 255, 255, 0.9);**/
transition: 0.5s;
}
@keyframes fadeIn {                 /*Animazione random da modificare*/
0% {
opacity: 0;
display: none;
}
1% {
display: block;
}
100% {
opacity: 1;
}
}

.sidecont-txt {
animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
}

.accordion {
padding: 8px;
text-decoration: none;
border: 3px solid black;
width: fit-content;
height: fit-content;
}

.accordion:hover {
color: #f1f1f1;
}

#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
height: 200px;
width: 200px;
margin: 0 auto;
}

.openbtn {
font-size: 20px;
background-color:#333;
color: #f1f1f1;
}

.openbtn:hover {
background-color: pink;
}
@media screen and (max-height: 450px) {
.sidecont-txt {
padding-top: 5px;
}

.sidecont-txt a {
font-size: 1em;
}
}
