@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@font-face {
  font-family: Redoctober;
  src: url("Redoctober-jzXO.otf");
}

@font-face {
  font-family: rodchenkol;
  src: url("rodchenko-light.ttf");
}

@font-face {
  font-family: propaganda;
  src: url("Rodchenko.ttf");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0);
}

::-webkit-scrollbar-thumb {
  background: #111;
}

::-webkit-scrollbar-thumb:hover {
  background: #690000;
}

/*NAVBAR*/
.title {
  margin-left: 5%;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #EEEEEE;
  border-radius: 100% 0;
  transform: rotate(45deg);
}

.inner-box {
  width: 110px;
  height: 65px;
  position: absolute;
  top: 15%;
  border-radius: 50%;
  background-color: transparent;
  transform: rotate(-45deg);
}

.circle {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #710b0b;
}

.title h1 {
  font-size: 10px;
  transform: rotate(-45deg);
  margin-top: 90px;
  margin-left: 10px;

}

#navbarSupportedContent {
  margin-left: 10%;
}

/*textpage*/

#body-txt-id {
  width: 100%;
  height: 115vh;
  display: grid;
  grid-template-columns: 0.09fr 1fr;
  grid-template-rows: 0.01fr 1.5fr 0.01fr;
  grid-template-areas:
    "nav nav"
    "button main"
    "footer footer";
  font-family: rodchenkol;
  font-size: 1.2em;
  background: radial-gradient(circle at 0%, #060606, rgb(52, 22, 22) 50%, #690000 75%, #050505 75%);
}

nav {
  grid-area: nav;
  z-index: 1;
  font-family: Redoctober;
}

.navbar-nav .dropdown-menu {
  background: rgb(117, 117, 117);
}

/*sidebar*/

button.style-button {
  border: transparent;
  background: transparent;
}

#button-txt-id {
  grid-area: button;
  padding-top: 5%;
}

#button-txt-id>button {
  width: fit-content;
  margin-bottom: 2vh;
  background: linear-gradient(-135deg, transparent 10px, #111 0);
}

.metarticle-visible-txt {
  display: block;
  grid-area: sidebar;
}

.metarticle-inv-txt {
  display: none;
}

#sidebar-txt-id {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111;
  border-radius: 0% 100% 100% 0%;
  z-index: 1;
  top: 0;
  word-wrap: break-word;
}

#sidebar-txt-id::-webkit-scrollbar {
  width: 0em;
}

#sidebar-txt-id::-webkit-scrollbar-thumb {
  background-color: transparent;
}

button.accordion {
  width: 20vw;
  background-color: transparent;
  padding: 8px 8px 8px 8px;
  color: #EEEEEE;
  display: block;
  text-align: left;
  font-family: Redoctober;
  border: none;
}

button.accordion:hover {
  color: #444;
}

.panel {
  width: 40vh;
  display: none;
  color: #EEEEEE;
  background-color: transparent;
  overflow: hidden;
}

#article-txt-id a:link,
#article-txt-id a:visited {
  color: #EEEEEE;
}

#map {
  margin-left: 5%;
  height: 30vh;
  width: 40vw;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: #EEEEEE;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*main page*/
main {
  grid-area: main;
  overflow: auto;
  padding: 3%;
  color: #EEEEEE;
  font-size: 1.1em;
}

main a:link,
main a:visited {
  color: grey;
  background-color: transparent;
}

main a:hover,
main a:active {
  color: #EEEEEE;
}

.wrapper1 {
  box-sizing: border-box;
  left: 50%;
  position: relative;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
}


h1,
h2 {
  color: #EEEEEE;
  text-align: center;
  font-family: Redoctober;
  text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);
  animation: glitch 750ms infinite;
}

h2 {
  text-align: left;
}


main h2 {
  color: #808080;
  font-family: Redoctober;
  text-transform: uppercase;
  text-align: center;
  animation: none;
  text-shadow: none;
}

#body-main-id {
  font-family: rodchenkol;
  font-size: 1.2rem;
  background: radial-gradient(circle at 100%, #070707, rgb(52, 22, 22) 50%, #690000 75%, #070707 75%);
  color: #EEEEEE;
}

.uno {
  position: relative;
  text-align: center;
  color: #EEEEEE;
  height: 80vh;
  z-index: 0;
}

#body-main-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from 45deg at 10% 10%,
      rgba(251, 250, 250, 0.129) 0deg 10deg,
      rgba(141, 141, 141, 0.215) 10deg 20deg,
      rgba(122, 122, 122, 0.132) 20deg 30deg);
  opacity: 0.6;
}

.glitcheffect {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);
  animation: glitch 750ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.section {
  margin-inline: auto;
  padding-block: 5rem;
  height: fit-content;
}

.due,
.diagonal {
  margin-top: 10%;
  text-align: justify;
  margin-bottom: 5%;
}

.diagonal p,
.due p,
footer p {
  padding-right: 5%;
  padding-left: 5%;

}

.diagonal h2,
.due h2,
footer h2 {
  padding-left: 5%;
}

.due #content-card {
  margin-top: 8%;
  margin-left: 15%;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.diagonal #content-card {
  margin-top: 5%;
  display: flex;
  width: fit-content;
  margin-left: 40%;
  flex-direction: row;
}

.element {
  margin-right: 1.5vw;
  width: 18vw;
  min-height: 20vh;
}

.element>p {
  font-family: Redoctober;
  text-align: left;
  position: relative;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.element>p span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.element>p::before,
.element>p::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.element>p::before {
  transform: translate(-52%, -49%);
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.element>p::after {
  transform: translate(-48%, -51%);
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}


.element a:link,
.element a:visited {
  color: #EEEEEE;
  background-color: transparent;
}

.element a:hover,
.element a:active {
  color: #EEEEEE;
}

.element:hover {
  transform: scale(1.05);
}

.logo-image {
  width: 30vw;
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  background-position: center;
  clip-path: circle(40%);
  shape-outside: circle(40%);
}

#kkk-logo {
  margin-right: 5%;
  float: left;
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Emblem_of_the_Ku_Klux_Klan.svg/1024px-Emblem_of_the_Ku_Klux_Klan.svg.png");
}

#masonry-logo {
  float: right;
  margin-left: 5%;
  right: 0;
  background-image: url("https://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-01/square-and-compass-01.png");
}

#skull-logo {
  margin-right: 5%;
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Bones_logo.jpg");
}

#kkk-logo::after,
#skull-logo::after,
#masonry-logo::after {
  content: '';
  height: 300%;
  left: -50%;
  position: fixed;
  top: -100%;
  width: 300%;
  background-image: url('noise.png');
  animation: noiseanimation 0.1s infinite;
}

@keyframes noiseanimation {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(3%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}
/*article text section*/

.maiuscoletto {
  font-variant: small-caps;
}

.text {
  color: #EEEEEE;
  text-align: 1em;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  width: calc(100% - 5%);
  float: right;
}

.text h2 {
  margin-top: 5%;
  margin-bottom: 2%;
}

.table_section {
  text-align: center;
}

table,
th,
td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #EEEEEE !important;
}


.footnotes {
  padding: 8px;
  text-align: left;
}

.text p::first-letter {
  color: #690000;
  float: left;
  font-weight: bold;
  font-size: 5rem;
  font-family: propaganda;
  margin: .04em .1em 0 0;
  line-height: 1em;
}

.censorship {
  background-color: #EEEEEE;
}

.fc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}

figure {
  float: left;
  margin: 1rem 1rem !important;
}

figure img {
  width: 15vw;
  height: auto;
}

figure figcaption {
  max-width: 15vw;
  font-size: 0.8em;
  font-style: italic;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-image: url('noise.png');
  background-size: cover;
  pointer-events: none;
}

.footnotes {
  font-size: 1rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
  color: #EEEEEE;
  float: none;
  font-family: rodchenkol;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0 0 0 0;
}

.poetry {
  text-align: center;
}
/*footer*/
footer {
  grid-area: footer;
  position: relative;
  color: #EEEEEE;
}

.layoutfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layoutfooter>button {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 15%;
  margin-left: 5%;
}

.card-name {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.name-card {
  background-color: rgba(161, 164, 164, 0.323);
  color: #EEEEEE;
  margin-right: 10px;
  width: 23vw;
  background: linear-gradient(-135deg, transparent 25px, rgba(161, 164, 164, 0.323) 0);
  word-wrap: break-word;
  padding: 3%;
  height: 53vh;
}

.name-card:hover {
  content: " ";
  animation: pulse 2s infinite;
}

.modal-body,
.modal-header {
  color: #111;
  overflow: auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.name-card>.imgcontainer::after {
  content: '';
  width: 50%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 25%;
  background-image: url('noise.png');
  background-size: cover;
  pointer-events: none;
}

.name-card>.imgcontainer img {
  width: 50%;
  border-radius: 50%;
}

.btn-primary {
  position: relative;
  background-color: #690000 !important;
  border-color: #710b0b !important;
  width: fit-content !important;
  transition: all 0.5s;
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  transition: all 0.3s;
}

.btn-primary:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  transform: scale(1.2, 1.2);
}

.btn-primary:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/*sidebartag*/
.n {
  background-color: rgb(7, 7, 241);
}

.nb {
  background-color: rgb(196, 14, 14)
}

.ne {
  background-color: rgb(2, 138, 25);
}

.nmap {
  background-color: rgb(118, 8, 128);
}

@media only screen and (max-width: 900px) {

  #button-txt-id {
    display: flex;
    justify-content: center;
  }

  #sidebar-txt-id {
    border-radius: 5%;
    margin: 0 auto;
    width: 80%;
  }

  button.accordion {
    width: inherit;
  }

  #button-txt-id>button {
    margin-right: 3vh;
  }

  .panel {
    width: 100%;
  }

  #map {
    width: 80%;
    margin: 0 auto;
  }

  .checkbox {
    display: inline-block;
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 550px) {

  .logo-image {
    clip-path: circle(15%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 10%;
    width: 80%;
  }

  .diagonal #content-card {
    font-size: 0.6rem;
    width: 80%;
    margin-left: 15%;
  }

  .element {
    margin: 8vh 1vw 0vh 3vw;
    width: 20vw;
    min-height: 20vh;
  }

  .card-name {
    flex-direction: column;

  }

  .name-card {
    font-size: 0.9em;
    margin: 0% auto 5% auto;
    width: 60vw;
    height: 30vh;
  }

  .name-card>.imgcontainer::after {
    width: 20%;
    left: 40%;
  }

  .name-card>.imgcontainer img {
    width: 20%;
  }

  .fc {
    flex-direction: column;
  }

  figure {
    float: none;
    margin: 0 auto;
  }

  figure img {
    width: 50vw;
  }

  figure figcaption {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 551px) and (max-width: 600px) {
  .logo-image {
    clip-path: circle(25%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 15%;
    margin-right: 30%;
    width: 50%;

  }

  .diagonal #content-card {
    font-size: 0.6rem;
    margin-top: 12%;
    width: 60%;
    margin-left: 40%;
  }

  .element {
    min-height: 20vh;
  }

  .name-card {
    margin-right: 10px;
    width: 24vw;
    padding: 3%;
    height: 43vh;
  }

  .name-card>.imgcontainer img {
    width: 50%;
  }

  .fc {
    flex-direction: column;
  }

  figure {
    float: none;
    margin: 0 auto;
  }

  figure img {
    width: 50vw;
  }

  figure figcaption {
    max-width: 50vw;
  }
}


@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .logo-image {
    clip-path: circle(25%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 15%;
    margin-right: 30%;
  }

  .diagonal #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 20%;
  }

  .name-card {
    height: 43vh;
  }

  .name-card>.imgcontainer img {
    width: 40%;
  }

  .name-card>.imgcontainer::after {
    width: 40%;
    left: 30%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

  .due #content-card {
    margin-top: 9%;
    width: 50%;

  }

  .diagonal #content-card {
    margin-top: 9%;
  }

  .name-card {
    height: 43vh;
  }
}

@media only screen and (min-width: 1201px) {
  .logo-image {
    clip-path: circle(40%);
  }

  .due #content-card {
    font-size: 1em;
    margin-top: 9%;
    margin-right: 30%;
    width: 50%;
  }

  .diagonal #content-card {
    font-size: 1rem;
    margin-top: 9%;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 1.4em;
  }

  .text h2 {
    margin-top: 10%;
  }
}