@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@font-face {
  font-family: Redoctober;
  src: url("Redoctober-jzXO.otf");
}

@font-face {
  font-family: rodchenkol;
  src: url("rodchenko-light.ttf");
}

@font-face {
  font-family: propaganda;
  src: url("Rodchenko.ttf");
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

/*NAVBAR*/
.title {
  margin-left: 5%;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100% 0;
  transform: rotate(45deg);
}

.inner-box {
  width: 110px;
  height: 65px;
  position: absolute;
  top: 15%;
  border-radius: 50%;
  background-color: transparent;
  transform: rotate(-45deg);
}

.circle {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #710b0b;
}

.title h1 {
  font-size: 10px;
  transform: rotate(-45deg);
  margin-top: 90px;
  margin-left: 10px;

}

#navbarSupportedContent {
  margin-left: 10%;
}

/*textpage*/

#body-txt-id {
  width: 100%;
  height: 115vh;
  display: grid;
  grid-template-columns: 0.09fr 1fr;
  grid-template-rows: 0.01fr 1.5fr 0.01fr;
  grid-template-areas:
    "nav nav"
    "button main"
    "footer footer";
  font-family: rodchenkol;
  font-size: 1.2em;
  background: radial-gradient(circle at 0%, black, rgb(52, 22, 22) 50%, darkred 75%, black 75%);
}

nav {
  grid-area: nav;
  z-index: 1;
  font-family: Redoctober;
}

#button-txt-id {
  /*questa è la div con i pulsanti*/
  grid-area: button;
  padding-top: 5%;
}

#button-txt-id>button {
  width: fit-content;
  margin-bottom: 2vh;
}

.metarticle-visible-txt {
  display: block;
  grid-area: sidebar;
}

.metarticle-inv-txt {
  display: none;
}

#sidebar-txt-id {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111;
  border-radius: 0% 100% 100% 0%;
  z-index: 1;
  top: 0;
  word-wrap: break-word;
}

#sidebar-txt-id::-webkit-scrollbar {
  width: 0em;
}

#sidebar-txt-id::-webkit-scrollbar-thumb {
  background-color: transparent;
}

button.accordion {
  width: 20vw;
  background-color: transparent;
  padding: 8px 8px 8px 8px;
  color: white;
  display: block;
  text-align: left;
  font-family: Redoctober;
  border: none;
}

button.accordion:hover {
  color: #444;
}
.panel {
  width: 40vh;
  display: none;
  color: white;
  background-color: transparent;
  overflow: hidden;
}

#map {
  margin-left: 5%;
  height: 30vh;
  width: 40vw;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

main {
  grid-area: main;
  overflow: auto;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-size: 1.1em;
}

main a:link,
main a:visited {
  color: grey;
  background-color: transparent;
}

main a:hover,
main a:active {
  color: white;
}

.wrapper1 {
  box-sizing: border-box;
  left: 50%;
  position: relative;
  text-align: center;
  align-items: center;
  top: 45%;
  transform: translate(-50%, -50%);
}

h1,
h2 {
  color: white;
  text-align: center;
  font-family: Redoctober;
  text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);
  animation: glitch 750ms infinite;
}

h2 {
  text-align: left;
}


main h2 {
  color: grey;
  font-family: Redoctober;
  text-transform: uppercase;
  text-align: center;
  animation: none;
  text-shadow: none;
}

#body-main-id {
  font-family: rodchenkol;
  font-size: 1.2rem;
  background: radial-gradient(circle at 100%, black, rgb(52, 22, 22) 50%, darkred 75%, black 75%);
  color: white;
}

.uno {
  position: relative;
  text-align: center;
  color: white;
  height: 80vh;
  z-index: 0;
}

#body-main-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from 45deg at 10% 10%,
      rgba(251, 250, 250, 0.129) 0deg 10deg,
      rgba(141, 141, 141, 0.215) 10deg 20deg,
      rgba(122, 122, 122, 0.132) 20deg 30deg);
  opacity: 0.6;
}

.glitcheffect {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);
  animation: glitch 750ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.section {
  margin-inline: auto;
  padding-block: 5rem;
  height: fit-content;
}

.due,
.diagonal {
  text-align: justify;
  align-items: center;
  margin-bottom: 10%;
}

.diagonal p,
.due p, footer p {
  padding-right: 5%;
  padding-left: 5%;

}

.diagonal h2,
.due h2, footer h2 {
  padding-left: 5%;
}

#content-card {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.element {
  margin-right: 10px;
  width: 15vw;
  min-height: fit-content;
  color: #000;
  background-color: rgba(161, 164, 164, 0.323);
  text-align: center;
  border-radius: 5%;
  word-wrap: break-word;
}

.element:hover {
  content: " ";
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}


.maiuscoletto {
  font-variant: small-caps;
}

.text {
  padding: 3% 3% 3% 0%;
  color: white;
  text-align: 1em;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  width: calc(100% - 5%);
  float: right;
}

.table_section {
  text-align: center;
}

table,
th,
td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white !important;
}


.footnotes {
  padding: 8px;
  text-align: left;
}

.text p::first-letter {
  color: darkred;
  float: left;
  font-weight: bold;
  font-size: 5rem;
  font-family: propaganda;
  margin: .04em .1em 0 0;
  line-height: 1em;
}

.censorship {
  background-color: white;
}

.fc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}

figure {
  float: left;
  margin: 1rem 1rem !important;
}

figure img {
  width: 15vw;
  height: auto;
}

figure figcaption {
  max-width: 15vw;
  font-size: 0.8em;
  font-style: italic;
}

.logo-image {
  width: 30vw;
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  clip-path: circle(40%);
  shape-outside: circle(40%);
}

#kkk-logo {
  margin-right: 5%;
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Emblem_of_the_Ku_Klux_Klan.svg/1024px-Emblem_of_the_Ku_Klux_Klan.svg.png");
}

#masonry-logo {
  float: right;
  margin-left: 5%;
  right: 0;
  background-image: url("https://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-01/square-and-compass-01.png");
}

#skull-logo {
  margin-right: 5%;
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Bones_logo.jpg");
}

.footnotes {
  font-size: 1rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
  color: white;
  float: none;
  font-family: rodchenkol;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0 0 0 0;
}

.poetry {
  text-align: center;
}

footer {
  grid-area: footer;
  position: relative;
}

.layoutfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layoutfooter>button {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 15%;
  margin-left: 5%;
}

.card-name {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.name-card {
  background-color: rgba(161, 164, 164, 0.323);
  color: black;
  margin-right: 10px;
  width: 23vw;
  height: fit-content;
  border-radius: 5%;
  box-shadow: 0 5px 5px 0px;
  word-wrap: break-word;
  padding: 3%;
  height: 53vh;
}

.name-card:hover {
  content: " ";
  animation: pulse 2s infinite;
}

.modal-body, .modal-header {
  color: black;
  overflow:auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.name-card>img {
  width: 50%;
  border-radius: 50%;
}


/*sidebartag*/
.n1700,
.nforrest {
  background-color: red;
}

.n1800,
.nb {
  background-color: yellow;
}

.n1900 {
  background-color: fuchsia;
}

@media only screen and (max-width: 600px) {

  .main_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 0.2fr 1.5fr 0.1fr;
    grid-template-areas:
      "nav"
      "button"
      "sidebar"
      "main"
      "footer";
  }

  .text {
    column-count: 1;
  }

  .logo-image {
    clip-path: circle(25%);
  }
}