@font-face {
  font-family: Redoctober;
  src: url("Redoctober-jzXO.otf");
}

@font-face {
  font-family: rodchenkol;
  src: url("rodchenko-light.ttf");
}

@font-face {
  font-family: propaganda;
  src: url("Rodchenko.ttf");
}

:root {
  --rossoscuro: #690000;
  --nero: #111;
  --bianco: #fffdfd;
  --grigio: #808080;
}
#button-txt-id svg{
  display: none;
}

.custom-svg {
  fill: white;
  display: block !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--nero);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--rossoscuro);
}

/*NAVBAR*/
.title {
  margin-left: 5%;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--bianco);
  border-radius: 100% 0;
  transform: rotate(45deg);
}

.inner-box {
  width: 110px;
  height: 59px;
  position: absolute;
  top: 15%;
  border-radius: 50%;
  background-color: transparent;
  transform: rotate(-45deg);
}

.circle {
  width: 40px;
  height: 40px;
  background: var(--nero);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid var(--rossoscuro);
}

.title h1 {
  font-size: 10px;
  transform: rotate(-45deg);
  margin-top: 90px;
  margin-left: 10px;
}

#navbarSupportedContent {
  margin-left: 10%;
}

/*textpage*/

#body-txt-id {
  width: 100%;
  height: 100vh;
  display: grid;
  font-family: rodchenkol;
  font-size: 1.2em;
  background: radial-gradient(
    circle at 0%,
    #060606,
    rgb(52, 22, 22) 50%,
    var(--rossoscuro) 75%,
    #050505 75%
  );
}

.grid-s-normal {
  grid-template-areas: "nav" "button" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 1fr 0.1fr;
}

.grid-normal {
  grid-template-columns: 0.09fr 1fr;
  grid-template-rows: 0.01fr 1.5fr 0.01fr;
  grid-template-areas:
    "nav nav"
    "button main"
    "footer footer";
}

.grid-small {
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.05fr 0.6fr 1fr 0.1fr;
  grid-template-areas: "nav" "button" "sidebar" "main" "footer";
}

.grid-large {
  grid-template-columns: 0.25fr 0.1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: "nav nav nav" "sidebar button main" "footer footer footer";
}

nav {
  grid-area: nav;
  z-index: 1;
  font-family: Redoctober;
}

.navbar-nav .dropdown-menu {
  background: rgb(117, 117, 117);
}

/*sidebar*/

button.style-button {
  border: transparent;
  background: transparent;
}

#button-txt-id {
  grid-area: button;
  padding-top: 5%;
}

.metarticle-visible-txt {
  display: block;
  grid-area: sidebar;
}

.metarticle-inv-txt {
  display: none;
}

#sidebar-txt-id {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--rossoscuro);
  border-radius: 0 25rem 25rem 0;
  z-index: 1;
  top: 0;
  word-wrap: break-word;
  margin: 5% 0;
}

#metadata-txt-id,
#article-txt-id {
  margin: 15% 0;
}
#sidebar-txt-id::-webkit-scrollbar {
  width: 0em;
}

#sidebar-txt-id::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#aldinedelf{
  display: none;
}

button.accordion {
  width: 13vw;
  background-color: transparent;
  padding: 3%;
  color: var(--bianco);
  display: block;
  text-align: left;
  font-family: Redoctober;
  border: none;
}

button.accordion:hover {
  color: #111;
}

.panel {
  width: 24vh;
  display: none;
  color: var(--bianco);
  background-color: transparent;
  overflow: hidden;
  margin-left: 3%;
}

#article-txt-id a:link,
#article-txt-id a:visited,
.panel >*:not(#map) a:link, .panel >*:not(#map) a:visited {
  color: var(--bianco);
}

#map {
  height: 30vh;
  width: inherit;
}

.openbtn {
  width: fit-content;
  margin-bottom: 2vh;
  background: linear-gradient(-135deg, transparent 10px, var(--rossoscuro) 0);
  color: var(--bianco);
  padding: 10% 15%;
  border: none;
}

/*main page*/
main {
  grid-area: main;
  overflow: auto;
  padding: 1%;
  color: var(--bianco);
  font-size: 1.2em;
  margin: 1%;
}

main a:link,
main a:visited {
  color: var(--grigio);
  background-color: transparent;
}

main a:hover,
main a:active {
  color: var(--bianco);
}

.wrapper1 {
  box-sizing: border-box;
  left: 50%;
  position: relative;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
}



.wrapper2 {
  text-align: left;
  margin: 10%;
}

h1,
h2 {
  color: var(--bianco);
  text-align: center;
  font-family: Redoctober;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
  -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
  -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 750ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

h2 {
  text-align: left;
}

main h2,
.wrapper2 > h2 {
  color: var(--grigio) !important;
  font-family: Redoctober;
  text-transform: uppercase;
  text-align: center;
  animation: none;
  text-shadow: none;
}

#body-main-id {
  background: radial-gradient(
    circle at 100%,
    #070707,
    rgb(52, 22, 22) 50%,
    var(--rossoscuro) 75%,
    #070707 75%
  );
  color: var(--bianco);
}

#body-main-id,
#body-d-id {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 0.01fr 1.5fr 0.01fr;
  grid-template-columns: 1fr;
  font-family: rodchenkol;
  font-size: 1.2em;
}

.uno {
  position: relative;
  text-align: center;
  color: var(--bianco);
  height: 80vh;
  z-index: 0;
}

#body-main-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from 45deg at 10% 10%,
    rgba(251, 250, 250, 0.129) 0deg 10deg,
    rgba(141, 141, 141, 0.215) 10deg 20deg,
    rgba(122, 122, 122, 0.132) 20deg 30deg
  );
  opacity: 0.6;
}

.section {
  margin-inline: auto;
  padding-block: 5rem;
  height: fit-content;
}

.due,
.diagonal {
  margin-top: 10%;
  text-align: justify;
  margin-bottom: 5%;
}

.diagonal p,
.due p,
footer p {
  padding-right: 5%;
  padding-left: 5%;
}

.wrapper2 p {
  padding-left: 0;
  padding-right: 0;
}

.diagonal h2,
.due h2,
footer h2 {
  padding-left: 5%;
}

.due #content-card {
  margin-top: 8%;
  margin-left: 15%;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.diagonal #content-card {
  margin-top: 5%;
  display: flex;
  width: fit-content;
  margin-left: 40%;
  flex-direction: row;
}

.element {
  margin-right: 1.5vw;
  width: 18vw;
  min-height: 20vh;
}

.element > p {
  font-family: Redoctober;
  text-align: left;
  position: relative;
  color: var(--bianco);
  font-size: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.element > p span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.element > p::before,
.element > p::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.element > p::before {
  transform: translate(-52%, -49%);
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.element > p::after {
  transform: translate(-48%, -51%);
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

.element a:link,
.element a:visited,.element a:hover,
.element a:active {
  color: var(--bianco);
  background-color: transparent;
}

.element:hover {
  transform: scale(1.05);
}

.logo-image {
  width: 30vw;
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--bianco);
  background-position: center;
  clip-path: circle(40%);
  -webkit-clip-path: circle(40%);
  shape-outside: circle(40%);
}

#kkk-logo {
  margin-right: 5%;
  float: left;
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Emblem_of_the_Ku_Klux_Klan.svg/1024px-Emblem_of_the_Ku_Klux_Klan.svg.png");
}

#masonry-logo {
  float: right;
  margin-left: 5%;
  right: 0;
  background-image: url("https://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-01/square-and-compass-01.png");
}

#skull-logo {
  margin-right: 5%;
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Bones_logo.jpg");
}

#kkk-logo::after,
#skull-logo::after,
#masonry-logo::after {
  content: "";
  height: 300%;
  left: -50%;
  position: fixed;
  top: -100%;
  width: 300%;
  background-image: url("https://github.com/giorgiacrosilla/cacty/blob/c42c7dd9ce8dde7a7d035a9f7aa18ccd2a5992fd/imgs/noise.png?raw=true");
  animation: noiseanimation 0.1s infinite;
}

@keyframes noiseanimation {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

/*article text section*/

.maiuscoletto {
  font-variant: small-caps;
}

.text {
  color: var(--bianco);
  text-align: 1em;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  width: calc(100% - 5%);
  float: right;
}

#introduction-txt-id {
  margin-bottom: 4%;
}

.text h2 {
  margin-top:3%;
  padding-bottom: 2%;
}

.table_section {
  text-align: center;
}

table,
th,
td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid var(--bianco) !important;
}

.footnotes {
  padding: 8px;
  text-align: left;
}

.text p::first-letter,
#main-d p::first-letter {
  color: var(--rossoscuro);
  float: left;
  font-weight: bold;
  font-size: 5rem;
  font-family: propaganda;
  margin: 0.04em 0.1em 0 0;
  line-height: 1em;
}

.wrapper2 li {
  list-style: none;
  margin-bottom: 2%;
}

.wrapper2 li::first-letter {
  font-weight: bold;
  font-family: propaganda;
  margin: 0 0 0 0;
  font-size: 1.5rem;
}

.censorship {
  background-color: var(--bianco);
}

.fc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}

figure {
  float: left;
  margin: 1rem 1rem !important;
}

figure img {
  width: 15vw;
  height: auto;
}

figure figcaption {
  max-width: 15vw;
  font-size: 0.8em;
  font-style: italic;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-image: url("https://github.com/giorgiacrosilla/cacty/blob/c42c7dd9ce8dde7a7d035a9f7aa18ccd2a5992fd/imgs/noise.png?raw=true");
  background-size: cover;
  pointer-events: none;
}

.footnotes {
  font-size: 1rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
  color: var(--bianco);
  float: none;
  font-family: rodchenkol;
  font-weight: normal;
  font-size: inherit;
  margin: 0 0 0 0;
}

.poetry {
  text-align: center;
}

/*footer*/
footer {
  grid-area: footer;
  position: relative;
  color: var(--bianco);
}

#copyr {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.layoutfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layoutfooter > button {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 15%;
  margin-left: 5%;
}

.card-name {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.name-card {
  background-color: rgba(161, 164, 164, 0.323);
  color: var(--bianco);
  margin-right: 10px;
  width: 23vw;
  background: linear-gradient(
    -135deg,
    transparent 25px,
    rgba(161, 164, 164, 0.323) 0
  );
  word-wrap: break-word;
  padding: 3%;
  height: 43vh;
}

.name-card:hover {
  content: " ";
  animation: pulse 2s infinite;
}

.modal-body,
.modal-header {
  color: var(--nero);
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.name-card > .imgcontainer::after {
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 25%;
  background-image: url("https://github.com/giorgiacrosilla/cacty/blob/c42c7dd9ce8dde7a7d035a9f7aa18ccd2a5992fd/imgs/noise.png?raw=true");
  background-size: cover;
  pointer-events: none;
}

.name-card > .imgcontainer img {
  width: 50%;
  border-radius: 50%;
}

.btn-primary {
  position: relative;
  background-color: var(--rossoscuro) !important;
  border-color: #710b0b !important;
  width: fit-content !important;
  transition: all 0.5s;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  transition: all 0.3s;
}

.btn-primary:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  transform: scale(1.2, 1.2);
}

.btn-primary:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.styleDate {
  background-color: rgb(7, 7, 241);
}

.stylePerson {
  background-color: rgb(196, 14, 14);
}

.styleEvent {
  background-color: rgb(2, 138, 25);
}

.nmap {
  background-color: rgb(234, 0, 255);
}

/*documentation*/
#body-d-id {
  background-color: var(--nero);
  position: relative;
}

#body-d-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from 45deg at 10% 1.5%,
    rgba(251, 250, 250, 0.129) 0deg 10deg,
    rgba(141, 141, 141, 0.215) 10deg 20deg,
    rgba(122, 122, 122, 0.132) 20deg 30deg
  );
  opacity: 0.6;
}

#main-d {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0%;
}

#main-d p {
  padding: 0% 2%;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.left-side {
  position: relative;
  height: 100vh;
  width: 50vw;
  padding: 5% 10%;
}

.left-side .imgcontainer > img {
  width: 25vw;
}

.container1 .imgcontainer::after {
  width: 25vw;
}

.container-doc {
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 50vw;
  padding: 1%;
  text-align: justify;
}

#third-d-paragraph .card-name {
  flex-wrap: wrap;
}

#third-d-paragraph .card-name > * {
  height: 15vh;
  width: 15vh;
  margin-bottom: 1%;
}

.img-d {
  display: flex;
  flex-wrap: wrap;
}

.img-d img {
  min-width: 19vw;
}

.img-d .imgcontainer::after {
  background-image: none;
}

.container-doc .name-card > .imgcontainer img {
  width: 80%;
}

.container-doc .name-card > .imgcontainer::after {
  width: 80%;
  margin-left: -15%;
}

.intro-container {
  margin: 2%;
}

#doc {
  z-index:1;
}

.intro-container ol,
.intro-container ul {
  padding-left: 6rem;
}

@media only screen and (max-width: 900px) {
  #button-txt-id {
    display: flex;
    padding-top: 0;
    justify-content: center;
  }

  #sidebar-txt-id {
    border-radius: 5%;
    margin: 0 auto;
    width: 80%;
  }

  button.accordion {
    width: inherit;
  }

  #button-txt-id > button {
    margin-right: 3vh;
    padding: 1%;
  }

  .panel {
    width: 100%;
  }

  #map {
    width: 80%;
    margin: 0 auto;
  }

  .checkbox {
    display: inline-block;
    margin-right: 1vw;
  }
  #metadata-txt-id,
  #article-txt-id {
    margin: 0;
  }

  .container1 {
    flex-direction: column;
  }

  .left-side {
    display: none;
  }

  .container-doc {
    overflow-y: unset;
    overflow-x: unset;
    width: unset;
    height: unset;
  }

  .container-doc .name-card .imgcontainer {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .logo-image {
    clip-path: circle(25%);
    -webkit-clip-path: circle(25%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 10%;
    width: 80%;
  }

  .diagonal #content-card {
    font-size: 0.6rem;
    width: 80%;
    margin-left: 15%;
  }

  .element {
    margin: 8vh 1vw 0vh 3vw;
    width: 20vw;
    min-height: 20vh;
  }

  .card-name {
    flex-direction: column;
  }

  .name-card {
    font-size: 0.9em;
    margin: 0% auto 5% auto;
    width: 50vw;
  }

  .name-card > .imgcontainer::after {
    width: 30%;
    left: 35%;
  }

  .name-card > .imgcontainer img {
    width: 30%;
  }

  .fc {
    flex-direction: column;
  }

  figure {
    float: none;
    margin: 0 auto;
  }

  figure img,
  .imgcontainer {
    width: 50vw;
    margin: 0 -5%;
  }

  figure figcaption {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 551px) and (max-width: 600px) {
  .logo-image {
    clip-path: circle(25%);
    -webkit-clip-path: circle(25%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 15%;
    margin-right: 30%;
    width: 50%;
  }

  .diagonal #content-card {
    font-size: 0.6rem;
    margin-top: 12%;
    width: 60%;
    margin-left: 40%;
  }

  .element {
    min-height: 20vh;
  }

  .name-card {
    margin-right: 10px;
    width: 26vw;
    padding: 3%;
    height: 45vh;
  }

  .name-card > .imgcontainer img {
    width: 50%;
  }

  .fc {
    flex-direction: column;
  }

  figure {
    float: none;
    margin: 0 auto;
  }

  figure img {
    width: 50vw;
  }

  figure figcaption {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .logo-image {
    clip-path: circle(40%);
    -webkit-clip-path: circle(40%);
  }

  .due #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 15%;
    margin-right: 30%;
  }

  .diagonal #content-card {
    font-size: 0.6rem;
    margin-top: 9%;
    margin-left: 20%;
  }

  .name-card {
    height: 38vh;
  }

  .name-card > .imgcontainer img {
    width: 40%;
  }

  .name-card > .imgcontainer::after {
    width: 40%;
    left: 30%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .due #content-card {
    margin-top: 9%;
    width: 50%;
  }

  .diagonal #content-card {
    margin-top: 9%;
  }

  .name-card {
    height: 43vh;
  }
  .logo-image {
    width: 30vw;
    height: 40vh;
  }
}

@media only screen and (min-width: 1201px) {
  .logo-image {
    clip-path: circle(40%);
    -webkit-clip-path: circle(40%);
  }

  .due #content-card {
    font-size: 1em;
    margin-top: 9%;
    margin-right: 30%;
    width: 50%;
  }

  .diagonal #content-card {
    font-size: 1rem;
    margin-top: 9%;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 1.4em;
  }

  .text h2 {
    margin-top: 10%;
  }
}
