@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Hind+Madurai:wght@400;600;700&display=swap');
* {
    font-family: 'Bona Nova', serif;
    color: #1b1a1a;
    
  }


/*SCROLL BAR*/
:root {
    --shadow:#0577E5;
    --scrollbarBG:  transparent !important;
    --thumbBG: #0577E5;
  }
  ::-webkit-scrollbar {             /*attenzione devi rendere responsive*/
    position: absolute;
    background-color: transparent;
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    position: absolute;
    background: var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 -100vh 0 100vh var(--shadow);
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/bookmark-1771020-1505147.png?f=webp&w=128'); 
    background-repeat: no-repeat;
    background-size: 26px;
    background-position-x: -3px;
    background-position-y:-2px;
}
    
.navbar-custom {
    background-color:  #3c0804;
}

/*MAIN CONTAINER*/
#body-txt-id {
    display: grid;
    grid-template-columns:0.01fr 1fr;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    background-color: #f5f5f5;
    
}

#sidebar-txt-id{    
    display: none;
  /*questa è la vera sidebar*/
}
.openbtn{
    text-align: center;
    border: none !important;
    background-color: transparent;
    font-size: 20px !important;
}
#button-txt-id{                /*questa è la div con i pulsanti*/
    grid-area: button;
    padding: 30px;
}


.btn {
	text-decoration: none;
	position: relative;
	text-align: center;
	
	&:hover {
		.button-stroke:nth-child(1) {
			stroke-dashoffset: 0;
		}
	}
}
.permanent-line{         
    stroke-dashoffset: 0;
}

.button-stroke {
	display: block;
    width: 90%;
	height: 10px;
    margin-left: -10px;
	stroke: rgba(79, 77, 77, 0.571);
	position: absolute;
	stroke-width: 2;
	
	&:nth-child(1) {
		stroke-dasharray: 350px;
		stroke-dashoffset: 350px;
		stroke-width: 3;
		transition: stroke-dashoffset 800ms ease-out;
	}
}

.menu__link {
    display: inline-block rgba(79, 77, 77, 0.571);
    text-decoration: none;
    position: relative;   
    line-height: 1;
    border: none;
    background-color: transparent;
  }
  
  .menu__link svg {
    fill: none;
    stroke: rgba(79, 77, 77, 0.571);
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 30px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
  }
  

  
  .menu__link:hover svg{
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .pencil-circle{
    stroke-dashoffset: 0 !important;
    opacity: 1 !important;  
  }

  

main{                   /*Questa è il testo*/
    grid-area: main;
}

/*NAVBAR*/

nav {
    grid-area: nav;
    border-radius: 10px;
    width: 99%;
    height: 101px;
    margin: 9px auto;
    box-shadow: -1px 0 15px #2a0502, 1px 3px 15px #2a0502, inset 5px 5px 10px #2a0502, inset -5px -5px 10px #2a0502;
}


nav li {
    border-bottom: 3px solid #dab35a; 
    transform: rotate(270deg);
    text-align: center;
    font-size: 12px;
  }

  nav .nav-link {
    color: #dab35a;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
  }
.decoration-sx, .decoration-dx{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
    border-radius: 10px;

}
.decoration-dx{
    box-shadow: inset 0 5px 5px #2a0502, inset -5px -5px 5px #2a0502;
    background-image: url(dec-dx.png);
    border-left: 3px solid #dab35a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}
.decoration-sx{
    box-shadow: inset 5px 5px 5px #2a0502, inset -5px -5px 5px #2a0502;
    background-image: url(dec-sx.png);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 3px solid #dab35a;

}


.p-dec{
    width: 210px;
    color: transparent;
}

/*SECRETMUG TITLE*/

.circle{
    display: none;
}
.navbar-toggler{
    display: none;
}
.title{
    height: 40px;
    width: 100px;
    border-bottom: 7px double #dab35a;
    transform: rotate(270deg);
    float: left;
    display: block;
    
}
nav ul{
    width: 100px;
}


.stroke-double{
    color: #dab35a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 7px;
    border-top: 3px solid #dab35a;
   
}

/*DROPDOWN*/
.dropdown-menu{
    transform: rotate(180deg);
    min-width: 0 !important;

}
.dropdown-menu{
    background-color: #3c0804 !important;
    box-shadow: inset 0 5px 10px #2a0502, inset 0 -5px 10px #2a0502;
    border-top: 9px double #dab35a !important; 
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;

}
.dropdown-item{
    transform: rotate(270deg); 
    color: #dab35a !important;

}
.dropdown-menu li{
    width: 100px;
    border: transparent;
    text-transform: uppercase;

}


/*MAINPAGE*/

.main-mn{
    padding: 11.11% 11.11% 22.22% 11.11%;
    display: grid;
    grid-template-areas: "title" "cards";
    text-align: center;
}
.uno{
    grid-area: "title";
}
.main-mn h1{
    text-transform: uppercase;
}

.due {
    grid-area: "cards";
 
}
#content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3px;

}
.card {
    margin: 0 auto;
    width: 60%;
    border: none !important;
    
}


.card-img-top{
    filter: brightness(1) invert(5);
    filter: grayscale(100%);
}


.card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}








/*SIDEBAR NEI TESTI*/

.metarticle-visible-txt{
    display: block;
    grid-area: sidebar;
}
.metarticle-inv-txt{
    display: none;
}


@keyframes fadeIn {                 /*Animazione random da modificare*/
    0% {
      opacity: 0;
      display: none;
    }
    1% {
      display: block;
    }
    100% {
      opacity: 1;
    }
  }
  
  .sidecont-txt {
    animation: fadeIn 1s ease-in-out; /* Imposta la durata dell'animazione */
    padding: 10px;
    margin-left: 10px;
  }
  .panel{
    margin-left: 0px;
  }
  .accordion{
   margin: 10px;
  }

.sidebar {
    grid-area: sidebar;
}





#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
    height: 100px;
    width: 100px;
    margin: 0 auto;
    filter: brightness(1) invert(20%) grayscale(1);
    border: 2px solid #111;
}



@media screen and (max-height: 450px) {
    .sidecont-txt {
        padding-top: 5px;
    }

    .sidecont-txt a {
        font-size: 1em;
    }
}
img {                   
    display: block;
     margin: 0 auto;
    filter:  grayscale(1);
   
}
.q-symbol{
    display: none;
}

#main-txt-id{
    padding: 11.11% 11.11% 22.22% 11.11%;
    display: grid;
    grid-template-columns: "title" "subtitle""text""author";


}
#introduction-txt-id{
    margin: 0 auto;
}
#introduction-txt-id h1{
        grid-area: "title";

}
#introduction-txt-id h2{
    grid-area: "subtitle";
  }
#introduction-txt-id  h1, h2 {
    text-transform: uppercase;
    text-align: center;
  }
 .author{
    grid-area: "author";
}
  .text{
    grid-area: "text";
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text::before {
    content: "";
    border-top: 2px solid #111;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }


.flex-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    background-color: rgb(184, 197, 252);
    width: 40%;
    padding: 1%;
}

.description {
    background-color: pink;
    width: 50%;
    transform: rotate(-5deg);
    padding: 1%;
}




#bside {
    padding-top: 5%;
}

#bside>button {
    width: fit-content;
    margin-bottom: 2vh;
}

#introduction-txt-id {
    width: calc(100% - 13%);
    padding: 3% 3% 3% 3%;
    float: right;
}

.maiuscoletto {
    font-variant: small-caps;
}






.immagine {
    margin-bottom: 3%;
}

.immagine>img {
    width: 15vw;
    height: auto;
    border-style: solid;
    border-color: blueviolet;
    border-width: 10px;
}

.immagine figcaption {
    font-size: 0.8em;
    font-style: italic;
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid blueviolet !important;
}

.footnotes {
    font-size: 0.9rem;
}
#titlecover{
    display: none;
}
.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

.forma2 {
    display: none;

}

.forma1 {
    display: none;
}

.testo_metadata {
    position: relative;
    width: max-content;
    height: max-content;
}


.new {
    display: none;
}
.main_container{
    display: grid;
    grid-template-areas: "nav nav" "sidebar main" "footer footer";
}
.maincover{
    grid-area: main;
}



/*sidebartag*/

.n1700,
.nforrest {
    margin: 10px;
      padding: 1px;
      border-radius: 10px;
      border: 2px solid #808080;
}

.n1800,
.nb {
    background-color: yellow;
}

.n1900 {
    background-color: rgb(255, 0, 191);
}


@media only screen and (max-width: 550px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
    }

    .main_container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.1fr;
        grid-template-areas:
            "nav"
            "button"
            "main"
            "footer";
    }

    .text {
        column-count: 1;
    }
}

/*FOOTER*/
footer{
    grid-area: footer;
        border-radius: 10px;
        width: 99%;
        height: 101px;
        margin: 9px auto;
        box-shadow: -1px 0 15px #2a0502, 1px 3px 15px #2a0502, inset 5px 5px 10px #2a0502, inset -5px -5px 10px #2a0502;
    
}