@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Hind+Madurai:wght@400;600;700&display=swap');
* {
    font-family: 'Bona Nova', serif;
    color: #1b1a1a;
    line-height: 1.5;
    
  }


/*SCROLL BAR*/
:root {
    --shadow:#0577E5;
    --scrollbarBG:  transparent !important;
    --thumbBG: #0577E5;
  }
  ::-webkit-scrollbar {             /*attenzione devi rendere responsive*/
    position: absolute;
    background-color: transparent;
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    position: absolute;
    background: var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 -100vh 0 100vh var(--shadow);
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/bookmark-1771020-1505147.png?f=webp&w=128'); 
    background-repeat: no-repeat;
    background-size: 26px;
    background-position-x: -3px;
    background-position-y:-8px;
}
.navbar-toggler{
    background-color: #dab35a;
    margin-left: 30px;
}
   
.navbar-custom {
    background-color:  #3c0804;
}
footer{
    background-color:  #3c0804;
}

/*MAIN CONTAINER*/
.grid-normal {
    width: 100%;
    display: grid;
    grid-template-columns:10% 90%;
    grid-template-areas:
        "nav nav"
        "button main"
        "footer footer";
    background-color: #f5f5f5;
    
}
.grid-large {
    width: 100%;
    display: grid;
    grid-template-columns:20% 10% 70%;
    grid-template-areas:
        "nav nav nav"
        "sidebar button main"
        "footer footer footer";
    background-color: #f5f5f5;
    
}

.nuovaClasse{
    background-color: pink;
}


.openbtn{
    text-align: center;
    border: none !important;
    background-color: transparent;
    font-size: 20px !important;
}
#button-txt-id{                /*questa è la div con i pulsanti*/
    grid-area: button;
    padding: 30px;
    top: 0;
    height: 100%;
    
}


.btn {
	text-decoration: none;
	position: relative;
	text-align: center;
    
    
	
	&:hover {
		.button-stroke {
			stroke-dashoffset: 0;
		}
	}
}
.permanent-line{
    stroke-dashoffset: 0 !important;
}

.button-stroke {
	display: block;
    width: 90%;
	height: 10px;
    margin-left: -10px;
	stroke: rgba(79, 77, 77, 0.571);
	position: absolute;
	stroke-width: 2;
		stroke-dasharray: 350px;
		stroke-dashoffset: 350px;
		stroke-width: 3;
		transition: stroke-dashoffset 800ms ease-out;    
}

.menu__link {
    display: inline-block rgba(79, 77, 77, 0.571);
    text-decoration: none;
    position: relative;   
    line-height: 1;
    border: none;
    background-color: transparent;
  }
  
  .menu__link svg {
    fill: none;
    stroke: rgba(79, 77, 77, 0.571);
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 30px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
  }
  

  
  .menu__link:hover svg{
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .pencil-circle{
    stroke-dashoffset: 0 !important;
    opacity: 1 !important;  
  }

 .wrapper2 ul{
    list-style-type: none;
 } 


main{                   /*Questa è il testo*/
    grid-area: main;
}

/*NAVBAR*/

nav {
    grid-area: nav;
    border-radius: 10px;
    width: 99%;
    height: 101px;
    margin: 9px auto;
    box-shadow: -1px 0 15px #2a0502, 1px 3px 15px #2a0502, inset 5px 5px 10px #2a0502, inset -5px -5px 10px #2a0502;
}


nav li {
    border-bottom: 3px solid #dab35a; 
    transform: rotate(-90deg);
    text-align: center;
    font-size: 9px;

  }

  nav .nav-link {
    color: #dab35a;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
  }
  
.decoration-sx, .decoration-dx{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
    border-radius: 10px;

}
.decoration-dx{
    box-shadow: inset 0 5px 5px #2a0502, inset -5px -5px 5px #2a0502;
    background-image: url(https://github.com/giorgiacrosilla/cacty/blob/main/imgs/dec-dx.png?raw=true);
    border-left: 3px solid #dab35a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}
.decoration-sx{
    box-shadow: inset 5px 5px 5px #2a0502, inset -5px -5px 5px #2a0502;
    background-image: url(https://github.com/giorgiacrosilla/cacty/blob/main/imgs/dec-sx.png?raw=true);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 3px solid #dab35a;
}
footer .decoration-dx, footer .decoration-sx{
    height: 100px;
}
#body-txt-id footer{
    display: grid;
    grid-template-columns: 213px auto 213px;
}


.p-dec{
    width: 210px;
    color: transparent;
}

/*SECRETMUG TITLE*/

.circle{
    display: none;
}

.title{
    height: 100px;
    width: 100px;
    border-bottom: 7px double #dab35a;
    transform: rotate(270deg);
    float: left;
    display: block;
    text-align: center;
    
}
nav ul{
    width: 100px;
}


.stroke-double{
    color: #dab35a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 7px;
    border-top: 3px solid #dab35a;
   
}

/*DROPDOWN*/
.dropdown-menu{
    transform: rotate(180deg);
    min-width: 0 !important;

}
.nav-link:visited{
    color: #dab35a !important;
}
.dropdown-menu{
    background-color: #3c0804 !important;
    box-shadow: inset 0 5px 10px #2a0502, inset 0 -5px 10px #2a0502;
    border-top: 9px double #dab35a !important; 
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;

}
.dropdown-item{
     
    color: #dab35a !important;
    margin: center !important;
    --bs-dropdown-item-padding-y: 0px !important;
    --bs-dropdown-item-padding-x: 0px !important;
    

}

.dropdown-item a{
    padding: 0 !important;
}
.dropdown-item button{
    white-space: pre-line; /* Allow line breaks in the button text */
    height: auto;
    background-color: transparent;
    border: none;
    color: #dab35a;
    text-transform: uppercase;
    width: 100%;
}



.dropdown-menu li{
    transform: rotate(180deg);
    width: 100px;
    border: transparent;
    text-transform: uppercase;
}


/*MAINPAGE*/

#content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3px;

}
.card {
    margin: 0 auto;
    width: 60%;
    border: none !important;
    
}


.card-img-top{
    filter: brightness(1) invert(5);
    filter: grayscale(100%);
}


.card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}








/*SIDEBAR NEI TESTI*/

.metarticle-vis-txt {
    display: grid;
    grid-area: sidebar;
    grid-template-columns: auto;
  }

  
  .metarticle-inv-txt {
    display: none;
  }


@keyframes fadeIn {                 /*Animazione random da modificare*/
    0% {
      opacity: 0;
      display: none;
    }
    1% {
      display: block;
    }
    100% {
      opacity: 1;
    }
  }
  

  .panel{
    margin-left: 0px;
        display: none;
  }

  .accordion{
   margin: 10px;
   text-transform: uppercase;
   border: 4px double #dab35a !important;
   color: #dab35a;
   background-color: #3c0804;
   width: 150px;
   

  }
  .accordion:hover{
    background-color:rgba(82, 12, 7, 0.712);
  }
  .panel a{
    text-decoration: none !important;
    font-style: oblique;
    color: #1b1a1a;
    }
    #metadata-txt-id .panel{
        padding: 0 10px;
    }

.panel:first-of-type p{
    margin: 0;
}

#metadata-txt-id{
    position: sticky;
   top: 0;
}
#article-txt-id{
    position: sticky;
   top: 0;
}
.sidebar {
    grid-area: sidebar;
}
#sidebar-txt-id{
    height: 100%;
}





#map {                   /*Ricorda di rendere LA MAPPA RESPONSIVE*/
    height: 200px;
    margin: 0 auto;
    filter: brightness(1) invert(20%) grayscale(1);
}





img {                   
    display: block;
     margin: 20px auto;
    filter:  grayscale(1);
    max-width: 200px;
    width: 100%;
}
/*--
figure:nth-of-type(3n+1){
    float: left;
    margin-right: 30px;
     
}*/
figcaption{
    text-align: center;

}
.q-symbol{
    display: none;
}

#main-txt-id{
    padding: 11.11% 11.11% 22.22% 11.11%;
    display: grid;
}
#introduction-txt-id{
    margin: 0 auto;
}

#introduction-txt-id  h1, h2, h3, .diagonal h2 {
    text-transform: uppercase !important;
    text-align: center;
  }
 .author{
    grid-area: "author";
}
  .text{
    grid-area: "text";
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text::before {
    content: "";
    border-top: 2px solid #111;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }




.info, .description {
    text-align: center;
}
.openbtn{
    padding: 0;
    padding-bottom: 10px;
    position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
#button-art{
    top: 65px;
}
#bside {
    padding-top: 5%;
}


#bside>button {
    width: fit-content;
    margin-bottom: 2vh;
}

#introduction-txt-id {
    width: calc(100% - 13%);
    padding: 3% 3% 3% 3%;
    float: right;
}

.maiuscoletto {
    font-variant: small-caps;
}








table,
th,
td {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-weight: normal;
    border: 1px solid  #1b1a1a !important;
    padding: 0 5px !important;
}
table{
    margin: 15px 0;
}
th{
    padding:30px ;
}
.footnotes {
    font-size: 0.9rem;
}
#titlecover{
    display: none;
}
.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

.forma2 {
    display: none;

}

.forma1 {
    display: none;
}

.testo_metadata {
    position: relative;
    width: max-content;
    height: max-content;
}


.new {
    display: none;
}
.main_container{
    display: grid;
    grid-template-areas: "nav nav" "sidebar main" "footer footer";
}
.maincover{
    grid-area: main;
}



/*sidebartag*/

.n1700,
.nforrest {
    margin: 10px;
      padding: 1px;
      border-radius: 10px;
      border: 2px solid #808080;
}


header{
    grid-area: nav;
}


@media screen and (max-width: 1000px) {
    .decoration-dx{
        display: none!important;
    }
    
    .navbar{
        --bs-navbar-padding-x: 0px !important;
        --bs-navbar-padding-y: 0px !important;
        justify-content: flex-start !important;
           
    }

    .collapse{ 
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        margin-top: 10px;
        margin-left: 10px;
        
    }
    .accordion{
        width: 200px;
    }

    .collapsing .navbar-nav{
        
        border-radius: 10px;
        width: 100% !important;
      }
    
      .show .navbar-nav, .collapsing .navbar-nav{
        background-color: #f5f5f5 !important;
        filter: none !important;
        border-radius: 10px;
        width: 100%;
        text-align: center !important;
      }
      .show .nav-link, .collapsing .nav-link{
        text-align: center;
        width: 100%;
        font-size: 12px;
      }
      ul .show{
        
        margin: 0 auto !important;
        align-content: center;
      }
    
    .navbar{
        flex-wrap: wrap !important;
        --bs-navbar-active-color: #dab35am !important;
        --bs-navbar-brand-color: #dab35am !important;
        --bs-navbar-brand-hover-color: #dab35am !important;
    }
    .nav-item{
        transform: rotate(0deg) !important; 
        align-content: center !important;   
    }
    ul .dropdown-menu{
        border: 0px solid transparent !important;
        background-color: #f5f5f5 !important;
        filter: none !important;
        box-shadow: none; 
        align-content: center !important;   
    }
    .navbar-collapse{
        
        filter: none;
    }
    
    
    
    /*#body-txt-id{
        width: 100%; 
        display: grid;
    grid-template-columns: auto;
    }*/
    #body-main-id{
        width: 100%; 
        margin-bottom: 11.11%;
        background-color: #f5f5f5;
    }
    #body-txt-id footer{
        display: grid;
        grid-template-columns: 213px auto;
    }
    
}

@media screen and (max-width: 500px) {
       
    #txt-main-id{
        grid-area: main;
        padding: 0 !important;
        text-align:center;
        hyphens: auto;
        margin-top: 100px;
        
    }
    
    

    .title{
        margin-left: 20px;
        margin-right:10px
    }
    /*#body-txt-id{
        grid-template-areas: "nav" "button" "sidebar""main" "footer";
    }*/
    #body-txt-id footer{
        display: grid;
        grid-template-columns: auto 213px;
    }
   

}

/*MAIN PAGE INDEX*/
#body-main-id {
    width: 100%; 
    padding-bottom: 11.11%;
    grid-template-columns: auto;
    grid-area: "nav" "main" "footer";
    background-color: #f5f5f5; 
        
}
#txt-main-id{
    grid-area: main;
    padding: 11.11%;
    text-align:center;
    hyphens: auto;
    
}
h1{
    text-transform: uppercase;
}
.wrapper1{
    height: 60vh;
    text-transform: uppercase;
}


.wrapper1 h1{
    font-size: 300%;
    text-align: center;
    border-top: 40px;
    line-height: 70px;
    margin: 40px 0;
    word-wrap: break-word;
}

.wrapper1 p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

/*FOOTER*/
footer{
    grid-area: footer;
    border-radius: 10px;
    width: 99%;
    height: 101px;
    margin: 9px auto;
    box-shadow: -1px 0 15px #2a0502, 1px 3px 15px #2a0502, inset 5px 5px 10px #2a0502, inset -5px -5px 10px #2a0502;
    position: static;
   left: 0;
   bottom: 0;
   width: 100%;   
}
#body-txt-id footer{
    width: 99%;
}

#copyr{
    color: #dab35a;
    padding: 10px;
    font-size: 10px;
    word-wrap: break-word;
}
#main-footer {
    grid-area: footer;
    height: fit-content;
    border-radius: 0;
        margin: 0;
        box-shadow: -1px 0 15px transparent, 1px 3px 15px transparent, inset 5px 5px 10px transparent, inset -5px -5px 10px transparent;
    text-align: center;
	background-color: transparent;
}
#main-footer p{
    max-width: 80vw;
    margin: auto
}

.layoutfooter {
    display: grid;
    grid-template-columns: auto;
}

.layoutfooter>button {
    margin: 20px auto;
    max-width: 200px;
    background-color: #808080;
    border: 0px;
}
.layoutfooter>button:hover{
    background-color: #111;
    color: #f5f5f5;
}

.card-name {
    display: grid;
    grid-template-columns: auto ;
    margin: 0 auto;
    column-gap: 10px;
}

.name-card {
    font-size: 12px;
    width: 24vw;
    word-wrap: break-word;
    padding: 2%;
    height: fit-content;
    text-align: center;
}
.name-card>img {
    width: 50%;
    
}
.wrapper h2::before{
    content: "";
    border-top: 2px solid #111;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.due{
    margin-top: 200px;
    grid-area: main;

}

.wrapper p{
    max-width: 65vw;
    margin: 0 auto;

}
.wrapper{
    margin-top: 200px;
}
#content-card a{
    text-decoration: none;
    font-style: oblique;
}
#content-card{
    margin-top: 10px;
}


@media screen and (max-width: 350px) {
    .decoration-sx{
        display: none;
    }
    
    nav{
        height:160px;
    }
    #body-txt-id{
        width: 100%;
        grid-template-areas: "nav" "sidebar" "button""main" "footer";
    }
    #body-txt-id footer{
        display: grid;
        grid-template-columns: auto ;
        height: fit-content;
    }
    
    #body-txt-id main{
        width: 100% !important;
    }
    .accordion{
        word-break: break-all;
        width: 100px;

    }
    .panel{
        word-break: break-all;
    }
    #main-txt-id{
        display: block;
        padding: 0%;      
       width: 100% !important;
    }
    #main-txt-id p:first-of-type{
        display: block;
        width: 100%;

    }
    #introduction-txt-id{
        width: 100%;
    }
    
}

