@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: coolvetica;
    src: url("coolvetica rg.otf");
}

html {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym752.cur), auto !important;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 191);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 191);
}

.navbar-custom {
    background-color: #85c442;
    font-family: coolvetica;
}

/*NAVBAR*/


.title {
    border: 2px solid black;
    box-shadow: 5px 5px;
    background-color: rgb(245, 226, 15);
    border-style: static;
    border-radius: 20px;
    width: 15vw;
    height: 11vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
    position: relative;
    background: transparent;
    z-index: 0;
    color: rgb(255, 0, 191);
    font-size: 3vw;
    font-family: 'Lobster', cursive;
}

/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em white;
    left: 0;
    z-index: -1;
}

/* add a double stroke */
.stroke-double:after {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.25em black;
    left: 0;
    z-index: -2;
}

#titlecover {
    margin-left: 10px;
    margin-top: 10px;
}

section {
    font-family: coolvetica;
}

/*firstpage*/


.uno {
    position: relative;
    height: 116vh;
    z-index: -1;
    background: linear-gradient(to top, rgba(251, 25, 217, 0.822), rgba(144, 238, 144, 0.822)), url(https://c.files.bbci.co.uk/4178/production/_105706761_gettyimages-90001717.jpg) no-repeat top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: relative;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
}

.separator {
    background-color: violet;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid lightblue;
    margin-top: 0vw;
}

.t {
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid lightblue;
    margin-top: 0vw;
    bottom: 0;
}

.left {
    background-color: lightblue;
    width: 0;
    height: 0;
    border-left: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid violet;
    margin-top: 0vw;
}

.section {
    margin-inline: auto;
    padding-block: 5rem;

}

.content {
    padding-inline: 3rem;
    padding-top: 5%;
}

.due {
    background: lightblue;
    height: 70vh;

}

.diagonal {
    height: 60vh;
    background: violet;


}

.card {
    width: 10rem;
    height: 10rem;

}

.card img {
    border: none;
}

.card:hover {
    content: " ";
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.main_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.5fr;
    grid-template-areas:
        "nav"
        "main";
    font-family: coolvetica;
    font-size: 1.1em;
    background-color: #f4f4fdff;
}

#coverpage {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 1.5fr;
    grid-template-areas:
        "nav nav"
        "sidebar main";
    font-family: coolvetica;
}

nav {
    grid-area: nav;
}

sidebar {
    grid-area: sidebar;
    background-color: rgb(255, 0, 191);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: -2%;
    background-color: transparent;
    overflow: auto;
    transition: 0.5s;
    margin-top: 13.5vh;
    padding: 1%;
}

.sidebar::-webkit-scrollbar {
    width: 0em;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.accordion {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    border: 3px solid black;
    position: relative;
    width: 50%;
    height: fit-content;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
    color: white;
    display: block;
}

.accordion:hover {
    color: #f1f1f1;
}

#dates {
    background-color: rgb(245, 226, 15);
    transform: rotate(-5deg);
    border-color: white;
}

#places {
    transform: rotate(5deg);
    background-color: rgb(255, 0, 191);
    border: 3px solid black;

}

#people {
    background-color: #85c442;
    transform: rotate(-5deg);
}

#events {
    background-color: transparent;
    color: black;
    border-color: rgb(255, 0, 191);
    transform: rotate(5deg);
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: auto;
}

#map {
    height: 180px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 0, 191);
    color: white;
    padding: 10px 15px;
    border: none;

}

.openbtn:hover {
    background-color: pink;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    overflow: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 5px;
    }

    .sidebar a {
        font-size: 1em;
    }
}


main {
    grid-area: main;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

main a:link, main a:visited {
    color: blueviolet;
    background-color: transparent;
}
 main a:hover, main a:active {
    color: rgb(106, 106, 232);
}

main>h2,
h1 {
    text-align: center;
}

#p {
    text-align: center;
}

.flex-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    background-color: rgb(184, 197, 252);
    width: 40%;
    padding: 1%;
}

.description {
    background-color: pink;
    width: 50%;
    transform: rotate(-5deg);
    padding: 1%;
}

#maincover {
    overflow: auto;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: lightblue;
    position: relative;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://i.ytimg.com/vi/kffacxfA7G4/maxresdefault.jpg');
}

main h1 {
    color: rgb(106, 106, 232);
    text-transform: uppercase;
    
}

main h2 {
    color: rgb(106, 106, 232);
    text-align: center;
    
}

.bside {
    position: fixed;
    width: 13%;
    height: 100%;
}

.bside > button {
    width: 10vw;
    margin-bottom: 2vh;
}

#introduction {
    width: calc(100% - 13%);
    padding: 3% 3% 3% 3%;
    float: right;
}

.maiuscoletto {
    font-variant: small-caps;
}

.text {
    padding: 3% 3% 3% 3%;
    column-count: 3;
    column-gap: 3%;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    width: calc(100% - 13%);
    float: right;
}

.text>h2 {
    text-align: left;
}

.text p::first-letter {
    color: rgb(255, 0, 191);
    float: left;
    font-weight: bold;
    font-size: 4.2rem;
    margin: .05em .1em 0 0;
    line-height: 0.65;
}

.frontier {
    padding: .5em;
    border: 0.25em solid rgb(255, 0, 191);
    position: relative;
    margin-bottom: 2%;
}

.frontier::before,
.frontier::after {
    content: '';
    display: block;
    position: absolute;
    background: #f4f4fdff;
}

.frontier::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
}

.frontier::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
}

.frontier>h2,
p {
    position: relative;
    z-index: 1;
}

.ghost {
    background-color: pink;
}

.immagine {
    margin-bottom: 3%;
}

.immagine>img {
    width: 15vw;
    height: auto;
    border-style: solid;
    border-color: blueviolet;
    border-width: 10px;
}

.immagine figcaption {
    font-size: 0.8em;
    font-style: italic;
}

table, th, td
 {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid blueviolet !important;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p::first-letter,
.poetry p::first-letter {
    color: black;
    float: none;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 0 0 0;
}

.forma0 {
    clip-path: polygon(50% 0%, 69% 20%, 50% 28%, 33% 38%, 18% 29%, 0 44%, 0 0);
    background-color: orange;
    width: 70%;
    height: 70%;
    position: absolute;
    display: block;
    float: right;
}

.forma2 {
    clip-path: polygon(100% 100%, 0% 100%, 0 0);
    background-color: blue;
    width: 50%;
    height: 50%;
    position: absolute;

}

.forma1 {
    position: absolute;
    clip-path: polygon(59% 36%, 57% 14%, 100% 18%, 100% 70%, 77% 89%, 39% 91%, 42% 65%, 39% 43%);
    background-color: yellow;
    width: 60%;
    margin-left: 40%;
    height: 100%;
    margin-top: -10%;
}

.testo_metadata {
    position: relative;

}

#firstarticle {
    padding-left: 55%;
    padding-top: 10%;
}

#secondarticle {
    padding-left: 10%;
    padding-top: 17%;
}

.new {

    clip-path: polygon(23.23% 27.92%, 27.75% 10.88%, 41.56% 23.99%, 55.36% 10.88%, 65.27% 23.99%, 83.89% 15.59%, 83.89% 30.49%, 97.18% 42.81%, 79.7% 44.54%, 75.61% 59.21%, 62.22% 46.27%, 48.83% 59.21%, 38.25% 46.27%, 17.57% 57.77%, 17.38% 39.05%, 0% 32.09%);

    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: red;
}

#thirdarticle {
    padding-left: 20%;
    padding-top: 20%;
}

footer {
    grid-area: footer;
    background-color: violet;
    position: relative;
    padding-top: 40px;
}


/*sidebartag*/

.n1700,
.nforrest {
    background-color: red;
}

.n1800,
.nb {
    background-color: yellow;
}

.n1900 {
    background-color: rgb(255, 0, 191);
}


@media only screen and (max-width: 550px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
    }

    .main_container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.1fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "footer";
    }

    .text {
        column-count: 1;
    }
}